@charset "UTF-8";
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

header {
  height: 6.5vh;
}
header img {
  width: 12.22vw;
  height: 6.34vh;
  position: relative;
  left: 2.2vw;
  top: 1.8vh;
}

/* Declarando variáveis para o uso no sass */ 
.container, .container section, .button-container, .second-section .card-container, .second-section .card-container .card {
  display: flex;
  flex-direction: column;
}

.container, .container section, .button-container, .second-section .card-container .card {
  align-items: center;
}

.second-section .text-box {
  width: 30.56vw;
  height: 18.49vh;
  background-color: inherit;
  border: 1px solid #FEC024;
  border-top: none;
  font-size: 4rem;
}

.second-section h3.text-box-heading {
  width: 51.94vw;
  height: 21.83vh;
  font-weight: normal;
  font-size: 4rem;
}

.second-section .card-container .card {
  border: 1px solid #6E6E6E;
  border-radius: 5px;
}

.second-section .card-container .card p {
  margin: 0vh 4vw;
  font-size: 1.34rem;
  text-align: justify;
}

section.second-section {
  width: 100vw;
  display: flex;
  background: radial-gradient(#2C2C2C, #1A1A1A);
}

.second-section {
  /* Container de cards da segunda seção */
  /* Parágrafo da segunda seção */
}
.second-section .mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.second-section .desktop {
  display: none;
}
.second-section .text-box {
  position: relative;
  top: 0vh;
  left: 10vw;
}
.second-section h3.text-box-heading {
  margin: 0;
  position: relative;
  top: -10vh;
  left: 14%;
}
.second-section .card-container {
  justify-content: space-around;
}
.second-section .card-container .card {
  margin: 2vh 0;
  width: 70.28vw;
  height: 46vh;
  justify-content: space-evenly;
}
.second-section .card-container .card img {
  width: 27.5vw;
  height: 16.9vh;
}
.second-section p {
  margin: 0;
  margin-right: 20px;
  margin-left: 20px;
  text-align: justify;
  line-height: 1.8rem;
}

.container, .container section, .button-container, .third-section .box-02 {
  display: flex;
  flex-direction: column;
}

.container, .container section, .button-container, .third-section .box-02 {
  align-items: center;
}

/* Terceira seção */
.third-section {
  width: 100vw;
  /* Lidando com os diferentes backgrounds da terceira seção */
  /* Primeiro background */
  /* Segundo Background */
}
.third-section h1 {
  text-transform: capitalize;
  font-weight: normal;
  background-image: none;
}
.third-section .box-01 {
  width: 100vw;
  height: 52.29vh;
  background-image: url("./assets/Grupo 34.svg");
}
.third-section .box-01 h1 {
  margin: 10vh 6vw;
  width: 83.67vw;
  height: 36.62vh;
  text-align: justify;
}
.third-section .box-02 {
  justify-content: center;
  width: 100vw;
  height: 44.01vh;
  background-color: #F89D24;
}
.third-section .box-02 button {
  border: 1px solid white;
  background-color: white;
  color: #F89D24;
  width: 56.39vw;
}

.container, .container section, .button-container, section.fourth-section .competence-container {
  display: flex;
  flex-direction: column;
}

.container, .container section, .button-container, section.fourth-section .competence-container {
  align-items: center;
}

section.fourth-section .text-box {
  width: 30.71vw;
  height: 18.49vh;
  background-color: inherit;
  border: 1px solid #FEC024;
  border-top: none;
  font-size: 4rem;
}

section.fourth-section h3.text-box-heading {
  font-weight: normal;
  font-size: 4rem;
  align-self: flex-start;
}

/* Quarta seção  */
section.fourth-section {
  width: 100vw;
  background-image: url("./assets/teacher bnw.png");
  background-position-x: -40px;
  background-repeat: no-repeat;
}
section.fourth-section .text-box {
  position: relative;
  top: 0vh;
  left: -30vw;
}
section.fourth-section h3.text-box-heading {
  width: 63.1vw;
  height: 21.83vh;
  margin: 0;
  position: relative;
  top: -8vh;
  left: 6.5vw;
}
section.fourth-section h3 {
  width: 80vw;
  height: 21.83vh;
}
section.fourth-section .desktop {
  display: none;
}
section.fourth-section .competence-container {
  margin-bottom: 5%;
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  /* Style the collapsible content. Note: hidden by default */
}
section.fourth-section .competence-container .collapsible {
  margin: 0;
  background-color: #686868;
  color: white;
  cursor: pointer;
  padding: 13px;
  width: 86.87vw;
  border: 1px solid #686868;
  border-radius: 0.5px;
  outline: none;
  text-align: left;
  font-size: 1.5rem;
  font-weight: normal;
}
section.fourth-section .competence-container .collapsible::after {
  content: "";
  position: relative;
  bottom: 2.5vh;
  left: 70vw;
  display: block;
  width: 0.7825rem;
  height: 0.7825rem;
  border-right: 0.2rem solid white;
  border-top: 0.2rem solid white;
  transform: rotate(135deg);
  /*  float: right
  *  margin-left: 5px 
  *  */
}
section.fourth-section .competence-container .active::after {
  content: "";
  margin-top: 1vh;
  transform: rotate(315deg);
  font-weight: bold;
}
section.fourth-section .competence-container .active, section.fourth-section .competence-container .collapsible:hover {
  background-color: #555;
}
section.fourth-section .competence-container .content {
  width: 79.5vw;
  font-size: 1.5rem;
  text-align: justify;
  background-color: #262626;
  border: none;
  padding: 0 13px;
  max-height: 0;
  overflow: hidden;
  border: none;
  transition: max-height 0.2s ease-out;
}
section.fourth-section .competence-container .content p {
  text-align: justify;
}
section.fourth-section .competence-container .active + .content {
  border-top: 1px solid #FEC024;
  border-bottom: 1px solid #FEC024;
}

.container, .container section, .button-container, section.fifth-section .card-container, section.fifth-section .card-container .card {
  display: flex;
  flex-direction: column;
}

.container, .container section, .button-container, section.fifth-section .card-container, section.fifth-section .card-container .card {
  align-items: center;
}

section.fifth-section .card-container .card {
  justify-content: space-around;
}

section.fifth-section .text-box {
  width: 30.71vw;
  height: 18.49vh;
  background-color: inherit;
  border: 1px solid #FEC024;
  border-top: none;
  font-size: 4rem;
}

section.fifth-section h3.text-box-heading {
  margin-top: 9vh;
  margin-left: 4vw;
  width: 52vw;
  height: 21.83vh;
  font-weight: normal;
  font-size: 4rem;
  align-self: flex-start;
}

section.fifth-section .card-container .card {
  border: 1px solid #6E6E6E;
  border-radius: 5px;
}

section.fifth-section .card-container .card p {
  margin: 0vh 4vw;
  font-size: 1.34rem;
  text-align: justify;
}

/* Quinta Seção */
section.fifth-section .text-box {
  position: relative;
  top: 0vh;
  left: -30vw;
}
section.fifth-section h3.text-box-heading {
  width: 63.1vw;
  height: 21.83vh;
  margin: 0;
  position: relative;
  top: -11vh;
  left: 9vw;
}
section.fifth-section .card-container .card {
  margin-bottom: 3vh;
  width: 87.5vw;
  height: 89.96vh;
}
section.fifth-section .card-container .card .card-title {
  display: block;
  width: 45.61vw;
  height: 6.34vh;
  line-height: 2rem;
}
section.fifth-section .card-container .card img {
  width: 74.17vw;
  height: 41.2vh;
}
.container, .container section, .button-container {
  display: flex;
  flex-direction: column;
}

.container, .container section, .button-container {
  align-items: center;
}

/* Sexta Seção */ 
section.sixth-section {
  height: 609px;
  background-image: url("./assets/opinion.png");
  background-size: contain;
  background-repeat: no-repeat;
  /* Carrossel Menu */
}
section.sixth-section h5 {
  margin: 0;
  font-size: 1.5rem;
  color: #F89D24;
  text-align: center;
}
section.sixth-section .carousel {
  position: relative;
  height: 78.125vh;
  width: 93.26vw;
  margin: 0 auto;
}
section.sixth-section .carousel .carousel-border {
  display: none;
}
section.sixth-section .carousel .carousel__track-container {
  height: 100%;
  overflow: hidden;
}
section.sixth-section .carousel .carousel__track-container .carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  transition: transform 250ms ease-in;
}
section.sixth-section .carousel .carousel__track-container .carousel__track .carousel__slide {
  position: absolute;
  top: 0;
  left: -0.1vw;
  bottom: 0;
  width: 100%;
}
section.sixth-section .carousel .carousel__track-container .carousel__track .carousel__slide.current-slide h1 {
  font-size: 3.375rem;
  position: absolute;
  width: 86.67vw;
  height: 64.08vh;
  left: 5%;
}
section.sixth-section .carousel .carousel__track-container .carousel__track .carousel__slide.current-slide h5 {
  width: 80vw;
  height: 8.1vh;
  position: absolute;
  top: 65vh;
  left: 6vw;
}
section.sixth-section .carousel .carousel__button {
  display: none;
}
section.sixth-section .carousel .carousel__button .arrow {
  position: relative;
  top: 0vh;
  left: 0vw;
  display: block;
  width: 1em;
  height: 1em;
  border-right: 0.5em solid #686868;
  border-top: 0.5em solid #686868;
  transform: rotate(135deg);
}
section.sixth-section .carousel .carousel__button--left {
  left: 30px;
  transform: rotate(90deg);
}
section.sixth-section .carousel .carousel__button--right {
  right: 50px;
  transform: rotate(-90deg);
}
section.sixth-section .carousel .carousel__nav {
  position: absolute;
  bottom: -10px;
  left: 25%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
section.sixth-section .carousel .carousel__nav .carousel__indicator {
  width: 0;
  height: 0;
  border: 0;
  background: transparent;
  position: relative;
  top: -10px;
  margin: 0 8px;
  cursor: pointer;
}
section.sixth-section .carousel .carousel__nav .carousel__indicator::after {
  content: "+";
  color: #707070;
}
section.sixth-section .carousel .carousel__nav .carousel__indicator.current-slide {
  border: 0;
  border-radius: 0;
  width: 50px;
  height: 2.5px;
  background: white;
  margin: 0 8px;
  top: 0px;
  transition: transform 500ms ease-in;
}
section.sixth-section .carousel .carousel__nav .carousel__indicator.current-slide::after {
  content: "";
}

.container, .container section, .button-container {
  display: flex;
  flex-direction: column;
}

.container, .container section, .button-container {
  align-items: center;
}

section.seventh-section .text-box {
  width: 30.71vw;
  height: 18.49vh;
  background-color: inherit;
  border: 1px solid #FEC024;
  border-top: none;
  font-size: 4rem;
}

section.seventh-section h3.text-box-heading {
  margin-top: 9vh;
  margin-left: 4vw;
  width: 52vw;
  height: 21.83vh;
  font-weight: normal;
  font-size: 4rem;
  align-self: flex-start;
}

section.seventh-section p {
  margin: 0vh 4vw;
  font-size: 1.34rem;
  text-align: justify;
}

/* Sétima Seção */
section.seventh-section {
  width: 100vw;
  background: radial-gradient(#2C2C2C, #1A1A1A);
}
section.seventh-section .text-box {
  position: relative;
  top: 0vh;
  left: 5vw;
}
section.seventh-section h3.text-box-heading {
  width: 69.45vw;
  height: 21.83vh;
  margin: 0;
  position: relative;
  top: -11vh;
  left: 9vw;
}
section.seventh-section ul {
  color: #F89D24;
  font-size: 1.7rem;
  list-style-type: circle;
  margin: 5vh 0;
}
section.seventh-section ul li {
  width: 86.11vw;
  height: 17.25vh;
}
section.seventh-section ul li h6 {
  text-transform: uppercase;
  color: #F89D24;
  font-size: 1.17rem;
}
section.seventh-section ul li p {
  text-align: justify;
}

.container, .container section, .button-container {
  display: flex;
  flex-direction: column;
}

.container, .container section, .button-container {
  align-items: center;
}

section.eighth-section .text-box {
  width: 30.71vw;
  height: 18.49vh;
  background-color: inherit;
  border: 1px solid #FEC024;
  border-top: none;
  font-size: 4rem;
}

section.eighth-section h3.text-box-heading {
  margin-top: 9vh;
  margin-left: 4vw;
  width: 52vw;
  height: 21.83vh;
  font-weight: normal;
  font-size: 4rem;
  align-self: flex-start;
}

section.eighth-section p {
  margin: 4vh 4vw;
  font-size: 1.34rem;
  text-align: justify;
}

section.eighth-section {
  width: 100vw;
  background-image: url("./assets/negociando.png");
}
section.eighth-section .text-box {
  position: relative;
  top: 0vh;
  left: -30vw;
}
section.eighth-section h3.text-box-heading {
  width: 69.45vw;
  height: 21.83vh;
  margin: 0;
  position: relative;
  top: -11vh;
  left: 9vw;
}
footer p {
  font-size: 1.33rem;
  margin: 8vh 0;
}

@media (min-width: 1024px) {
  header {
    height: 15vh;
  }
  header img {
    width: 8.49vw;
    height: 12.37vh;
    position: relative;
    left: 1.5vw;
    top: 1.5vh;
  }
}
@media (min-width: 1024px) {
  /* Declarando variáveis para o uso no sass */ 
  .first-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 15vh);
  }
}
@media (min-width: 1024px) {
  section.second-section .text-box {
    width: 15vw;
    height: 26.82vh;
    background-color: inherit;
    border: 1px solid #FEC024;
    border-top: none;
    font-size: 4rem;
  }

  section.second-section {
    display: grid !important;
    grid-template-columns: 50vw 50vw;
    /* Parágrafo da segunda seção */
  }
  section.second-section .text-box {
    position: relative;
    top: 0vh;
    left: 10vw;
  }
  section.second-section h3.text-box-heading {
    position: relative;
    left: 16vw;
    width: 18.3vw;
    height: 21.61vh;
    font-size: 4rem;
    align-self: flex-start;
  }
  section.second-section .button-container {
    margin: 5vh 0;
    margin-left: 8vw;
  }
  section.second-section .mobile {
    display: none;
  }
  section.second-section .desktop {
    display: block;
  }
  section.second-section p {
    margin-left: 12vw;
    width: 24.67vw;
    height: 26.69vh;
    text-align: justify;
    font-size: 1.125rem;
  }
  section.second-section .card-container {
    display: flex;
    flex-flow: row wrap;
  }
  section.second-section .card-container .card {
    width: 18.52vw;
    height: 35.29vh;
    border: 1px solid #6E6E6E;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }
  section.second-section .card-container .card img {
    margin: 0;
    width: 7.24vw;
    height: 12.5vh;
  }
  section.second-section .card-container .card p {
    width: 15vw;
    height: 9.51vh;
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: justify;
  }
}
@media (min-width: 1024px) {
  /* Declarando variáveis para o uso no sass */
  .container section.third-section {
    width: 100vw;
    height: 48.44vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url("./assets/Grupo 34.svg");
  }
  .container section.third-section .box-01 {
    background-image: none;
    width: 58.57vw;
    height: 18.22vh;
  }
  .container section.third-section .box-01 h1 {
    margin: 0 6vw;
    width: 53.57vw;
    height: 18.22vh;
    text-align: center;
  }
  .container section.third-section .box-02 {
    /* Causando overflow à direita */
    width: 39.38vw;
    height: 38.5vh;
  }
  .container section.third-section .box-02 h1 {
    width: 23.57vw;
  }
  .container section.third-section .box-02 button {
    width: 14.86vw;
  }
}
@media (min-width: 1024px) {
  section.fourth-section {
    width: 100vw;
    height: 79.57vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-clip: border-box;
    background-size: 105vw 100%;
  }
  section.fourth-section .mobile {
    display: none;
  }
  section.fourth-section .desktop {
    display: flex;
  }
  section.fourth-section .desktop-competence-container {
    width: 70.35vw;
    height: 47.14vh;
    flex-direction: row;
    justify-content: center;
  }
  section.fourth-section .desktop-competence-container .button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 27.67vw;
    background-color: #686868;
  }
  section.fourth-section .desktop-competence-container .button-container button {
    padding-left: 0;
    font-size: 2rem;
    margin: 0;
    color: white;
    background-color: #686868;
    border: none;
    border-radius: 0;
    width: 23.27vw;
    text-align: start;
  }
  section.fourth-section .desktop-competence-container .button-container .active {
    transition: all 0.5s ease;
    font-weight: bold;
    border-bottom: 1px solid #F89D24;
  }
  section.fourth-section .desktop-competence-container .content {
    width: 42.68vw;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section.fourth-section .desktop-competence-container .content .button-container {
    background-color: #262626;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  section.fourth-section .desktop-competence-container .content .button-container button {
    font-style: italic;
    width: 10.1vw;
    font-size: 0.875rem;
    background-color: #262626;
    border: none;
  }
  section.fourth-section .desktop-competence-container .content .button-container .orange {
    color: #F89D24;
  }
  section.fourth-section .desktop-competence-container .content p {
    color: white;
    font-size: 1.125rem;
    width: 24.67vw;
    height: 23.96vh;
    text-align: start;
  }
}
@media (min-width: 1024px) {
  /* Declarando variáveis para o uso no sass */ 
  section.fifth-section .card-container .card {
    display: flex;
    flex-direction: column;
  }

  section.fifth-section .card-container .card {
    align-items: center;
  }

  section.fifth-section .card-container .card {
    justify-content: space-around;
  }

  section.fifth-section .card-container .card {
    border: 1px solid #6E6E6E;
    border-radius: 5px;
  }

  section.fifth-section .text-box {
    width: 15vw;
    height: 26.82vh;
    background-color: inherit;
    border: 1px solid #FEC024;
    border-top: none;
    font-size: 4rem;
  }

  section.fifth-section .card-container .card p {
    font-size: 1rem;
    text-align: justify;
  }

  section.fifth-section {
    width: 100vw;
  }
  section.fifth-section .text-box {
    position: relative;
    top: 0vh;
    left: -29vw;
  }
  section.fifth-section h3.text-box-heading {
    position: relative;
    top: -10vh;
    right: -19vw;
    margin: 0vw;
    width: 18.3vw;
    height: 21.61vh;
    font-size: 4rem;
    align-self: flex-start;
  }
  section.fifth-section .card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  section.fifth-section .card-container .card {
    margin: 2vh 1vw;
    width: 26.57vw;
    height: 65.66vh;
  }
  section.fifth-section .card-container .card .card-title {
    display: block;
    width: 12.81vw;
    height: 4.69vh;
    line-height: 1rem;
  }
  section.fifth-section .card-container .card img {
    width: 315px;
    height: 234px;
  }
  section.fifth-section .card-container .card p {
    width: 23.06vw;
    height: 18.29vh;
  }
}
@media (min-width: 1024px) {
  .arrow {
    position: relative;
    top: 0vh;
    left: 0vw;
    display: block;
    width: 3em;
    height: 3em;
    border-right: 0.2em solid white;
    border-top: 0.2em solid white;
    transform: rotate(135deg);
  }

  section.sixth-section h1, section.sixth-section h5 {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  section.sixth-section h5 {
    margin: 0;
    width: 30%;
    height: 20%;
    position: relative;
    bottom: -30px;
    right: -600px;
    font-size: 2rem;
    color: #F89D24;
    text-align: right;
  }
  section.sixth-section .carousel {
    position: relative;
    height: 78.125vh;
    width: 93.26vw;
    margin: 0 auto;
    overflow: hidden;
  }
  section.sixth-section .carousel .carousel-border {
    background: transparent;
    border: 0;
    position: absolute;
    width: 4.83vw;
    height: 8.59vh;
  }
  section.sixth-section .carousel .carousel-border.border-top {
    border-right: 1px solid #F89D24;
    border-top: 1px solid #F89D24;
    top: 0;
    right: 0;
  }
  section.sixth-section .carousel .carousel-border.border-bottom {
    border-left: 1px solid #F89D24;
    border-bottom: 1px solid #F89D24;
    bottom: 0;
    left: 0;
  }
  section.sixth-section .carousel .carousel__track-container {
    height: 100%;
  }
  section.sixth-section .carousel .carousel__track-container .carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    transition: transform 250ms ease-in;
  }
  section.sixth-section .carousel .carousel__track-container .carousel__track .carousel__slide {
    position: absolute;
    top: 0;
    left: -0.1vw;
    bottom: 0;
    width: 100%;
  }
  section.sixth-section .carousel .carousel__track-container .carousel__track .carousel__slide.current-slide h1 {
    position: absolute;
    width: 70%;
    top: 20%;
    left: 15%;
  }
  section.sixth-section .carousel .carousel__track-container .carousel__track .carousel__slide.current-slide h5 {
    position: absolute;
    top: 52%;
    right: 18%;
  }
  section.sixth-section .carousel .carousel__button {
    display: block;
    position: absolute;
    top: 35%;
    width: 2.49vw;
    height: 4.43vh;
    transform: translateY(-50%);
    border: 0;
    background: transparent;
    cursor: pointer;
  }
  section.sixth-section .carousel .carousel__button .arrow {
    position: relative;
    top: 0vh;
    left: 0vw;
    display: block;
    width: 1em;
    height: 1em;
    border-right: 0.5em solid #686868;
    border-top: 0.5em solid #686868;
    transform: rotate(135deg);
  }
  section.sixth-section .carousel .carousel__button--left {
    left: 30px;
    transform: rotate(90deg);
  }
  section.sixth-section .carousel .carousel__button--right {
    right: 50px;
    transform: rotate(-90deg);
  }
  section.sixth-section .carousel .carousel__nav {
    position: absolute;
    bottom: 15%;
    left: 45%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  section.sixth-section .carousel .carousel__nav .carousel__indicator {
    width: 0;
    height: 0;
    border: 0;
    background: transparent;
    position: relative;
    top: -10px;
    margin: 0 8px;
    cursor: pointer;
  }
  section.sixth-section .carousel .carousel__nav .carousel__indicator::after {
    content: "+";
    color: #707070;
  }
  section.sixth-section .carousel .carousel__nav .carousel__indicator.current-slide {
    border: 0;
    border-radius: 0;
    width: 50px;
    height: 2.5px;
    background: white;
    margin: 0 8px;
    top: 0px;
    transition: transform 500ms ease-in;
  }
  section.sixth-section .carousel .carousel__nav .carousel__indicator.current-slide::after {
    content: "";
  }
}
@media (min-width: 1024px) {
  section.seventh-section .text-box {
    width: 15vw;
    height: 26.82vh;
    background-color: inherit;
    border: 1px solid #FEC024;
    border-top: none;
    font-size: 4rem;
  }

  section.seventh-section {
    width: 100vw;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
  }
  section.seventh-section .text-box {
    position: relative;
    top: 0vh;
    left: -29vw;
  }
  section.seventh-section h3.text-box-heading {
    position: relative;
    top: -10vh;
    right: -19vw;
    margin: 0vw;
    width: 23.64vw;
    height: 21.28vh;
    font-size: 4rem;
    align-self: flex-start;
  }
}
/* Importando um arquivo CSS Reset */
.button-container, .container section, .container {
  display: flex;
  flex-direction: column;
}

.button-container, .container section, .container {
  align-items: center;
}

/* Standard CSS */
html {
  font-size: 12px;
}

body {
  background-color: #0C0C0C;
  color: white;
}

h1 {
  font-size: 3.375rem;
  width: 78.89vw;
}

p {
  color: #B5B5B5;
}

h1, p {
  text-align: center;
}

/* Botão */
button {
  width: 46.94vw;
  height: 9.86vh;
  margin: 2vh 0;
  color: white;
  font-size: 1.33rem;
  border-radius: 5px;
}

span.card-title {
  color: #F89D24;
}

/* mobile */
.container {
  margin-right: 20px;
  margin-left: 20px;
}
.container section {
  width: 100vw;
}

button.orange {
  background-color: #F89D24;
  border: 1px solid #F89D24;
}

button.black {
  background-color: #0C0C0C;
  border: 1px solid #FFFFFF;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .container {
    margin-right: 50px;
    margin-left: 50px;
  }
}
@media (min-width: 1024px) {
  /* Desktop */
  /* Declarando variáveis para o uso no sass */ 
  /* Texto que contém um 'U' nele */ 
  /* Container dos botões da página */
  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .button-container button {
    margin: 2vh 1.5vw;
    width: 12.37vw;
    height: 7.29vh;
  }

  .container h1 {
    width: 58.57vw;
  }
  .container p {
    font-size: 1rem;
    width: 30.45vw;
  }

  section.sixth-section {
    background-size: cover;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .container {
    margin-right: calc((100vw - 1350px) / 2);
    margin-left: calc((100vw - 1350px) / 2);
  }
}