@charset "UTF-8";
/* Importando um arquivo CSS Reset */
@use 'css_reset' {}/* Declarando variáveis para o uso no sass */
section.fifth .card-container .card, .container, .container section, .button-container, .second .mobile, .second .card-container .card, .third .box-02, section.fourth .competence-container, section.fifth .card-container, .second .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.fifth .card-container .card, .container, .container section, .button-container, .second .mobile, .second .card-container .card, .third .box-02, section.fourth .competence-container, section.fifth .card-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.fifth .card-container .card {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.text-box-heading {
  margin-top: 9vh;
  margin-left: 4vw;
  width: 52vw;
  height: 21.83vh;
  font-weight: normal;
  font-size: 4rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.second .card-container .card, section.fifth .card-container .card {
  border: 1px solid #6E6E6E;
  border-radius: 5px;
}

.second .card-container .card p, section.fifth .card-container .card p, section.seventh p, section.eighth p {
  margin: 0vh 4vw;
  font-size: 1.34rem;
  text-align: justify;
}

/* Standard CSS */
html {
  font-size: 12px;
}

body {
  background-color: #0C0C0C;
  color: white;
}

h1 {
  font-size: 3.375rem;
  width: 78.89vw;
}

p {
  color: #B5B5B5;
}

h1, p {
  text-align: center;
}

/* Botão */
button {
  width: 46.94vw;
  height: 9.86vh;
  margin: 2vh 0;
  color: white;
  font-size: 1.33rem;
  border-radius: 5px;
}

/* Texto que contém um 'U' nele */
.text-box {
  position: absolute;
  left: 3vw;
  width: 30.71vw;
  height: 18.49vh;
  background-color: inherit;
  border: 1px solid #FEC024;
  border-top: none;
  font-size: 4rem;
}

span.card-title {
  color: #F89D24;
}

/* mobile */
/* Imagem do header */
header img {
  width: 12.22vw;
  height: 6.34vh;
  position: relative;
  left: 2.2vw;
  top: 1.8vh;
}

.container {
  margin-right: 20px;
  margin-left: 20px;
}

.container section {
  width: 100vw;
}

button.orange {
  background-color: #F89D24;
  border: 1px solid #F89D24;
}

button.black {
  background-color: #0C0C0C;
  border: 1px solid #FFFFFF;
}

/* Segunda Seção */
section.second, section.seventh {
  width: 100vw;
  background: radial-gradient(#2C2C2C, #1A1A1A);
}

.second {
  /* Container de cards da segunda seção */
  /* Parágrafo da segunda seção */
}

.second .desktop {
  display: none;
}

.second .card-container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.second .card-container .card {
  margin: 2vh 0;
  width: 70.28vw;
  height: 46vh;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.second .card-container .card img {
  width: 27.5vw;
  height: 16.9vh;
}

.second p {
  margin-right: 20px;
  margin-left: 20px;
  text-align: justify;
  line-height: 1.8rem;
}

/* Terceira seção */
.third {
  width: 100vw;
  /* Lidando com os diferentes backgrounds da terceira seção */
  /* Primeiro background */
  /* Segundo Background */
}

.third h1 {
  text-transform: capitalize;
  font-weight: normal;
  background-image: none;
}

.third .box-01 {
  width: 100vw;
  height: 52.29vh;
  background-image: url("./assets/Grupo 34.svg");
}

.third .box-01 h1 {
  margin: 10vh 6vw;
  width: 83.67vw;
  height: 36.62vh;
  text-align: justify;
}

.third .box-02 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 44.01vh;
  background-color: #F89D24;
}

.third .box-02 button {
  border: 1px solid white;
  background-color: white;
  color: #F89D24;
  width: 56.39vw;
}

/* Quarta seção  */
section.fourth {
  width: 100vw;
  background-image: url("./assets/teacher bnw.png");
  background-position-x: -40px;
}

section.fourth h3 {
  width: 80vw;
  height: 21.83vh;
}

section.fourth .competence-container {
  margin-bottom: 5%;
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  /* Style the collapsible content. Note: hidden by default */
}

section.fourth .competence-container .collapsible {
  margin: 0;
  background-color: #686868;
  color: white;
  cursor: pointer;
  padding: 13px;
  width: 86.87vw;
  border: 1px solid #686868;
  border-radius: 0.5px;
  outline: none;
  text-align: left;
  font-size: 1.5rem;
  font-weight: normal;
}

section.fourth .competence-container .collapsible::after {
  content: '';
  position: relative;
  bottom: 2.5vh;
  left: 70vw;
  display: block;
  width: 0.7825rem;
  height: 0.7825rem;
  border-right: 0.2rem solid white;
  border-top: 0.2rem solid white;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  /*
                float: right
                margin-left: 5px
                */
}

section.fourth .competence-container .active::after {
  content: '';
  margin-top: 1vh;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  font-weight: bold;
}

section.fourth .competence-container .active, section.fourth .competence-container .collapsible:hover {
  background-color: #555;
}

section.fourth .competence-container .content {
  width: 79.5vw;
  font-size: 1.5rem;
  text-align: justify;
  background-color: #262626;
  border: none;
  padding: 0 13px;
  max-height: 0;
  overflow: hidden;
  border: none;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

section.fourth .competence-container .content p {
  text-align: justify;
}

section.fourth .competence-container .active + .content {
  border-top: 1px solid #FEC024;
  border-bottom: 1px solid #FEC024;
}

/* Quinta Seção */
section.fifth .card-container .card {
  margin-bottom: 3vh;
  width: 87.5vw;
  height: 89.96vh;
}

section.fifth .card-container .card img {
  width: 74.17vw;
  height: 41.2vh;
}

/* Sexta Seção */
section.sixth {
  height: 609px;
  background-image: url("./assets/opinion.png");
  background-size: contain;
  background-repeat: no-repeat;
}

section.sixth h5 {
  font-size: 1.5rem;
  color: #F89D24;
}

/* Sétima Seção */
section.seventh h3.text-box-heading {
  width: 69.45vw;
  height: 21.83vh;
  margin: 0 2vw;
  margin-top: 9vh;
}

section.seventh ul {
  color: #F89D24;
  font-size: 1.7rem;
  list-style-type: circle;
  margin: 0;
}

section.seventh ul li {
  width: 86.11vw;
  height: 17.25vh;
}

section.seventh ul li h6 {
  text-transform: uppercase;
  color: #F89D24;
  font-size: 1.17rem;
}

section.seventh ul li p {
  text-align: justify;
}

section.eighth {
  width: 100vw;
  background-image: url("./assets/negociando.png");
}

footer p {
  font-size: 1.33rem;
  margin: 8vh 0;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .container {
    margin-right: 50px;
    margin-left: 50px;
  }
}

@media (min-width: 1024px) {
  /* Desktop */
  /* Declarando variáveis para o uso no sass */
  section.fifth .card-container .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.fifth .card-container .card {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.fifth .card-container .card {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  section.fifth .card-container .card {
    border: 1px solid #6E6E6E;
    border-radius: 5px;
  }
  section.second .text-box, section.fifth .text-box {
    width: 15vw;
    height: 26.82vh;
    background-color: inherit;
    border: 1px solid #FEC024;
    border-top: none;
    font-size: 4rem;
  }
  section.fifth .card-container .card p {
    font-size: 1rem;
    text-align: justify;
  }
  /* Texto que contém um 'U' nele */
  /* Container dos botões da página */
  .button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .button-container button {
    margin: 2vh 1.5vw;
    width: 12.37vw;
    height: 7.29vh;
  }
  header {
    height: 15vh;
  }
  header img {
    width: 8.49vw;
    height: 12.37vh;
    position: relative;
    left: 1.5vw;
    top: 1.5vh;
  }
  /* Primeira Seção */
  .first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: calc(100vh - 15vh);
  }
  .container {
    margin-right: 80px;
    margin-left: 80px;
  }
  .container h1 {
    width: 58.57vw;
  }
  .container p {
    font-size: 1rem;
    width: 30.45vw;
  }
  section.second {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50vw 50vw;
        grid-template-columns: 50vw 50vw;
    /* Parágrafo da segunda seção */
  }
  section.second .text-box {
    position: absolute;
    top: 101vh;
    left: 7vw;
  }
  section.second h3.text-box-heading {
    margin-top: 18vh;
    margin-left: 12vw;
    width: 18.3vw;
    height: 21.61vh;
    font-size: 4rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  section.second .button-container {
    margin-left: 8vw;
  }
  section.second p {
    margin-left: 12vw;
    width: 24.67vw;
    height: 26.69vh;
    text-align: justify;
    font-size: 1.125rem;
  }
  section.second .mobile {
    display: none;
  }
  section.second .desktop {
    display: block;
  }
  section.second .card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  section.second .card-container .card {
    width: 18.52vw;
    height: 35.29vh;
    border: 1px solid #6E6E6E;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.second .card-container .card img {
    margin: 0;
    width: 7.24vw;
    height: 12.5vh;
  }
  section.second .card-container .card p {
    width: 15vw;
    height: 9.51vh;
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: justify;
  }
  section.third {
    width: 100vw;
    height: 48.44vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-image: url("./assets/Grupo 34.svg");
  }
  section.third .box-01 {
    background-image: none;
    width: 58.57vw;
    height: 18.22vh;
  }
  section.third .box-01 h1 {
    margin: 0 6vw;
    width: 53.57vw;
    height: 18.22vh;
    text-align: center;
  }
  section.third .box-02 {
    /* Causando overflow à direita */
    width: 39.38vw;
    height: 38.5vh;
  }
  section.third .box-02 h1 {
    width: 23.57vw;
  }
  section.third .box-02 button {
    width: 14.86vw;
  }
  section.fourth {
    height: 79.57vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    /* Style the collapsible content. Note: hidden by default */
  }
  section.fourth .desktop {
    display: none;
  }
  section.fourth .competence-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.fourth .collapsible {
    margin: 0;
    background-color: #686868;
    color: white;
    cursor: pointer;
    padding: 13px;
    width: 86.87vw;
    border: 1px solid #686868;
    border-radius: 0.5px;
    outline: none;
    text-align: left;
    font-size: 1.5rem;
    font-weight: normal;
  }
  section.fourth .collapsible::after {
    content: '';
    position: relative;
    bottom: 2.5vh;
    left: 70vw;
    display: block;
    width: 0.7825rem;
    height: 0.7825rem;
    border-right: 0.2rem solid white;
    border-top: 0.2rem solid white;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    /*
                float: right
                margin-left: 5px
                */
  }
  section.fourth .active::after {
    content: '';
    margin-top: 1vh;
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
    font-weight: bold;
  }
  section.fourth .active, section.fourth .collapsible:hover {
    background-color: #555;
  }
  section.fourth .content {
    width: 79.5vw;
    font-size: 1.5rem;
    text-align: justify;
    background-color: #262626;
    border: none;
    padding: 0 13px;
    max-height: 0;
    overflow: hidden;
    border: none;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
  }
  section.fourth .content p {
    text-align: justify;
  }
  section.fourth .active + .content {
    border-top: 1px solid #FEC024;
    border-bottom: 1px solid #FEC024;
  }
  section.fifth .text-box {
    position: relative;
    top: 0vh;
    left: -29vw;
  }
  section.fifth h3.text-box-heading {
    position: relative;
    top: -10vh;
    right: -19vw;
    margin: 0vw;
    width: 18.3vw;
    height: 21.61vh;
    font-size: 4rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  section.fifth .card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.fifth .card-container .card {
    margin: 2vh 1vw;
    width: 26.57vw;
    height: 65.66vh;
  }
  section.fifth .card-container .card img {
    width: 315px;
    height: 234px;
  }
  section.fifth .card-container .card p {
    width: 23.06vw;
    height: 18.29vh;
  }
}

@media (min-width: 1440px) {
  .container {
    margin-right: calc((100vw - 1350px) / 2);
    margin-left: calc((100vw - 1350px) / 2);
  }
}
/*# sourceMappingURL=index.css.map */