@charset "UTF-8";
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

header {
  width: 100%;
  height: 6.5vh;
}
header img {
  width: 12.22vw;
  height: 6.34vh;
  position: relative;
  left: 2.2vw;
  top: 1.8vh;
}

section.first-section {
  padding: 13% 0;
  margin: 0;
}
section.first-section p {
  width: calc(100% - 36px);
  height: 12.32%;
}

/* Declarando variáveis para o uso no sass */ 
.container, .container section, .button-container, .second-section .card-container, .second-section .card-container .card {
  display: flex;
  flex-direction: column;
}

.container, .container section, .button-container, .second-section .card-container .card {
  align-items: center;
}

.second-section .text-box {
  width: 30.71%;
  height: 50.49%;
  padding: 14.49% 0;
  background-color: inherit;
  border: 1px solid #FEC024;
  border-top: none;
  font-size: 4rem;
}

.second-section h3.text-box-heading {
  width: 51.94%;
  height: 7.83%;
  font-weight: normal;
  font-size: 4rem;
}

.second-section .card-container .card {
  border: 1px solid #6E6E6E;
  border-radius: 5px;
}

.second-section .card-container .card p {
  margin: 0vh 4vw;
  font-size: 1.34rem;
  text-align: justify;
}

section.second-section {
  position: relative;
  width: 100vw;
  display: flex;
  background: radial-gradient(#2C2C2C, #1A1A1A);
}

.second-section {
  /* Container de cards da segunda seção */
  /* Parágrafo da segunda seção */
}
.second-section .mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.second-section .desktop {
  display: none;
}
.second-section .text-box {
  display: inline-block;
  position: relative;
  top: 0%;
  left: 10%;
}
.second-section h3.text-box-heading {
  display: inline-block;
  margin: 0;
  position: absolute;
  top: 3%;
  left: 14%;
}
.second-section .card-container {
  align-items: center;
  justify-content: space-around;
}
.second-section .card-container .card {
  padding: 5% 0;
  margin: 2vh 0;
  width: 70.28%;
  height: 49.71%;
  justify-content: space-evenly;
}
.second-section .card-container .card img {
  width: 39.13%;
  height: 35.42%;
}
.second-section p {
  margin: 0 20px;
  padding-top: 20%;
  text-align: justify;
  line-height: 1.8rem;
}

.container, .container section, .button-container, .third-section .box-02 {
  display: flex;
  flex-direction: column;
}

.container, .container section, .button-container, .third-section .box-02 {
  align-items: center;
}

/* Terceira seção */
.third-section {
  width: 100vw;
  /* Lidando com os diferentes backgrounds da terceira seção */
  /* Primeiro background */
  /* Segundo Background */
}
.third-section h1 {
  text-transform: capitalize;
  font-weight: normal;
  background-image: none;
}
.third-section .box-01 {
  position: relative;
  width: 100vw;
  height: 52.29vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.third-section .box-01 h1 {
  opacity: 1;
  margin: 0;
  width: 83.67vw;
  height: 36.62vh;
  text-align: justify;
}
.third-section .box-01::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("./assets/Grupo 34.svg");
  opacity: 0.4;
}
.third-section .box-02 {
  justify-content: center;
  width: 100vw;
  height: 44.01vh;
  background-color: #F89D24;
}
.third-section .box-02 button {
  padding: 0% 2%;
  border: 1px solid white;
  background-color: white;
  color: #F89D24;
  width: 56.39%;
  height: 22.4%;
}

.container, .container section, .button-container, section.fourth-section .competence-container {
  display: flex;
  flex-direction: column;
}

.container, .container section, .button-container, section.fourth-section .competence-container {
  align-items: center;
}

section.fourth-section .text-box {
  width: 29.71%;
  height: 30.54%;
  padding: 15.54% 0;
  background-color: inherit;
  border: 1px solid #FEC024;
  border-top: none;
  font-size: 4rem;
}

section.fourth-section h3.text-box-heading {
  font-weight: normal;
  font-size: 4rem;
  align-self: flex-start;
}

/* Quarta seção  */
section.fourth-section {
  width: 100vw;
  background-image: url("./assets/teacher bnw.png");
  background-position-x: -40px;
  background-repeat: no-repeat;
}
section.fourth-section .text-box {
  position: relative;
  top: 0vh;
  left: -30vw;
}
section.fourth-section h3.text-box-heading {
  width: 63.1vw;
  height: 21.83vh;
  margin: 0;
  position: relative;
  top: -60px;
  left: 6.5vw;
}
section.fourth-section h3 {
  width: 80vw;
  height: 21.83vh;
}
section.fourth-section .desktop {
  display: none;
}
section.fourth-section .competence-container {
  margin-bottom: 5%;
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  /* Style the collapsible content. Note: hidden by default */
}
section.fourth-section .competence-container .collapsible {
  margin: 0;
  background-color: #686868;
  color: white;
  cursor: pointer;
  padding: 13px;
  width: 86.87vw;
  border: 1px solid #686868;
  border-radius: 0.5px;
  outline: none;
  text-align: left;
  font-size: 1.5rem;
  font-weight: normal;
}
section.fourth-section .competence-container .collapsible::after {
  content: "";
  position: relative;
  bottom: 2.5vh;
  left: 70vw;
  display: block;
  width: 0.7825rem;
  height: 0.7825rem;
  border-right: 0.2rem solid white;
  border-top: 0.2rem solid white;
  transform: rotate(135deg);
  /*  float: right
  *  margin-left: 5px 
  *  */
}
section.fourth-section .competence-container .active::after {
  content: "";
  margin-top: 1vh;
  transform: rotate(315deg);
  font-weight: bold;
}
section.fourth-section .competence-container .active, section.fourth-section .competence-container .collapsible:hover {
  background-color: #555;
}
section.fourth-section .competence-container .content {
  width: 79.5vw;
  font-size: 1.5rem;
  text-align: justify;
  background-color: #262626;
  border: none;
  padding: 0 13px;
  max-height: 0;
  overflow: hidden;
  border: none;
  transition: max-height 0.2s ease-out;
}
section.fourth-section .competence-container .content p {
  text-align: justify;
}
section.fourth-section .competence-container .active + .content {
  border-top: 1px solid #FEC024;
  border-bottom: 1px solid #FEC024;
}

.container, .container section, .button-container, section.fifth-section .card-container, section.fifth-section .card-container .card {
  display: flex;
  flex-direction: column;
}

.container, .container section, .button-container, section.fifth-section .card-container, section.fifth-section .card-container .card {
  align-items: center;
}

section.fifth-section .card-container .card {
  justify-content: space-around;
}

section.fifth-section .text-box {
  width: 32.71%;
  height: 18.49%;
  padding: 16.49% 0;
  background-color: inherit;
  border: 1px solid #FEC024;
  border-top: none;
  font-size: 4rem;
}

section.fifth-section h3.text-box-heading {
  margin-top: 9vh;
  margin-left: 4vw;
  width: 52vw;
  height: 21.83vh;
  font-weight: normal;
  font-size: 4rem;
  align-self: flex-start;
}

section.fifth-section .card-container .card {
  border: 1px solid #6E6E6E;
  border-radius: 5px;
}

section.fifth-section .card-container .card p {
  margin: 0vh 4vw;
  font-size: 1.34rem;
  text-align: justify;
}

/* Quinta Seção */
section.fifth-section .text-box {
  position: relative;
  top: 0vh;
  left: -30vw;
}
section.fifth-section h3.text-box-heading {
  width: 63.1vw;
  height: 21.83vh;
  margin: 0;
  position: relative;
  top: -54px;
  left: 3%;
}
section.fifth-section .card-container .card {
  margin-bottom: 3vh;
  width: 87.5vw;
  height: 89.96vh;
}
section.fifth-section .card-container .card .card-title {
  display: block;
  width: 45.61vw;
  height: 6.34vh;
  line-height: 2rem;
}
section.fifth-section .card-container .card img {
  width: 74.17vw;
  height: 41.2vh;
}
.container, .container section, .button-container {
  display: flex;
  flex-direction: column;
}

.container, .container section, .button-container {
  align-items: center;
}

/* Sexta Seção */ 
section.sixth-section {
  height: 100%;
  background-image: url("./assets/opinion.png");
  background-size: contain;
  background-repeat: no-repeat;
  /* Carrossel Menu */
}
section.sixth-section h5 {
  margin: 0;
  font-size: 1.5rem;
  color: #F89D24;
  text-align: center;
}
section.sixth-section .carousel {
  position: relative;
  left: -5%;
  height: 78.125vh;
  width: 93.26vw;
  margin: 0 auto;
  overflow: hidden;
}
section.sixth-section .carousel .carousel-border {
  display: none;
}
section.sixth-section .carousel .carousel__track-container {
  height: 100%;
  overflow: hidden;
}
section.sixth-section .carousel .carousel__track-container .carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  transition: transform 250ms ease-in;
}
section.sixth-section .carousel .carousel__track-container .carousel__track .carousel__slide {
  position: absolute;
  top: 0;
  left: -0.1vw;
  bottom: 0;
  width: 100%;
}
section.sixth-section .carousel .carousel__track-container .carousel__track .carousel__slide.current-slide h1 {
  font-size: 3.375rem;
  position: absolute;
  width: 86.67vw;
  height: 64.08vh;
  left: 5%;
}
section.sixth-section .carousel .carousel__track-container .carousel__track .carousel__slide.current-slide h5 {
  width: 80vw;
  height: 8.1vh;
  position: absolute;
  bottom: 8%;
  right: 4%;
}
section.sixth-section .carousel .carousel__button {
  display: none;
}
section.sixth-section .carousel .carousel__button .arrow {
  position: relative;
  top: 0vh;
  left: 0vw;
  display: block;
  width: 1em;
  height: 1em;
  border-right: 0.5em solid #686868;
  border-top: 0.5em solid #686868;
  transform: rotate(135deg);
}
section.sixth-section .carousel .carousel__button--left {
  left: 30px;
  transform: rotate(90deg);
}
section.sixth-section .carousel .carousel__button--right {
  right: 50px;
  transform: rotate(-90deg);
}
section.sixth-section .carousel .carousel__nav {
  position: absolute;
  bottom: -2%;
  left: 29%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
section.sixth-section .carousel .carousel__nav .carousel__indicator {
  width: 0;
  height: 0;
  border: 0;
  background: transparent;
  position: relative;
  top: -10px;
  margin: 0 8px;
  cursor: pointer;
}
section.sixth-section .carousel .carousel__nav .carousel__indicator::after {
  content: "+";
  color: #707070;
}
section.sixth-section .carousel .carousel__nav .carousel__indicator.current-slide {
  border: 0;
  border-radius: 0;
  width: 52px;
  height: 0px;
  padding: 1.5% 0;
  background: white;
  margin: 7% 8px;
  top: 0px;
  transition: transform 500ms ease-in;
}
section.sixth-section .carousel .carousel__nav .carousel__indicator.current-slide::after {
  content: "";
}

.container, .container section, .button-container {
  display: flex;
  flex-direction: column;
}

.container, .container section, .button-container {
  align-items: center;
}

section.seventh-section .text-box {
  width: 34.5%;
  height: 55.49%;
  padding: 16.49% 0;
  background-color: inherit;
  border: 1px solid #FEC024;
  border-top: none;
  font-size: 4rem;
}

section.seventh-section h3.text-box-heading {
  width: 52vw;
  height: 21.83vh;
  font-weight: normal;
  font-size: 4rem;
  align-self: flex-start;
}

section.seventh-section p {
  width: 86.67vw;
  height: 26.06vh;
  font-size: 1.125rem;
  text-align: justify;
}

/* Sétima Seção */
section.seventh-section {
  width: 100vw;
  background: radial-gradient(#2C2C2C, #1A1A1A);
}
section.seventh-section .button-container {
  margin: 5vh 0;
}
section.seventh-section .text-box {
  display: inline-block;
  margin: 0;
  position: relative;
  top: 0px;
  left: 5vw;
}
section.seventh-section h3.text-box-heading {
  display: inline-block;
  width: 69.45vw;
  height: 21.83vh;
  margin: 0;
  position: relative;
  top: -11vh;
  left: 8.7vw;
}
section.seventh-section p {
  line-height: 2rem;
}
section.seventh-section .desktop {
  display: none;
}
section.seventh-section ul {
  color: #F89D24;
  font-size: 1.7rem;
  list-style-type: circle;
  margin: 2vh 0;
}
section.seventh-section ul li {
  font-weight: bold;
  width: 83.11vw;
  height: 17.25vh;
}
section.seventh-section ul li h6 {
  text-transform: uppercase;
  color: #F89D24;
  font-size: 1.17rem;
}
section.seventh-section ul li p {
  display: inline-block;
  width: 79.44vw;
  height: 12.85vh;
  margin: 0;
  text-align: justify;
}

.container, .container section, .button-container {
  display: flex;
  flex-direction: column;
}

.container, .container section, .button-container {
  align-items: center;
}

section.eighth-section .content-container .text-box {
  width: 30.71%;
  height: 50.49%;
  padding: 16.49% 0;
  background-color: inherit;
  border: 1px solid #FEC024;
  border-top: none;
  font-size: 4rem;
}

section.eighth-section .content-container h3.text-box-heading {
  display: inline-block;
  width: 52vw;
  height: 21.83vh;
  font-weight: normal;
  font-size: 4rem;
}

section.eighth-section .content-container p {
  margin: 4vh 4vw;
  font-size: 1.125rem;
  text-align: justify;
}

section.eighth-section {
  width: 100%;
  display: block;
}
section.eighth-section .img-container {
  display: none;
}
section.eighth-section .content-container {
  background-image: url("./assets/negociando.png");
  background-repeat: no-repeat;
}
section.eighth-section .content-container .text-box {
  display: inline-block;
  margin: 0;
  position: relative;
  top: 0vh;
  left: 5vw;
}
section.eighth-section .content-container h3.text-box-heading {
  display: inline-block;
  width: 69.45vw;
  height: 21.83vh;
  margin: 0;
  position: relative;
  top: -10vh;
  left: 9vw;
}
section.eighth-section .content-container p {
  line-height: 2rem;
  margin: 0 2vw;
  width: 86.67vw;
  height: 26.06vh;
}
section.eighth-section .content-container .button-container {
  margin: 5vh 0;
}
section.eighth-section .content-container .button-container button {
  padding: 5% 2%;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
footer .desktop {
  display: none;
}
footer p {
  font-size: 1.33rem;
  margin: 8vh 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 10.7%;
  top: 2.5%;
  width: 80.56vw;
  height: 93.75vh;
  overflow: auto;
  background-color: black;
  background-color: #232323;
  opacity: 1;
}
.modal .modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 93.75vh;
}
.modal .modal-content .close {
  color: #707070;
  position: absolute;
  left: 85%;
  top: 3%;
  font-size: 5rem;
  font-weight: bold;
}
.modal .modal-content .flex-container {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.modal .modal-content .flex-container h1 {
  font-size: 2.375rem;
  color: #F89D24;
}
.modal .modal-content .flex-container p {
  width: 60.6vw;
  height: 6.12vh;
}
.modal .modal-content .flex-container form {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.modal .modal-content .flex-container form input {
  margin: 4% 0;
  padding: 0 4%;
  border: 1px solid #F89D24;
  color: #F89D24;
  width: 45.01vw;
  height: 7.29vh;
}
.modal .modal-content .flex-container form input::placeholder {
  color: #F89D24;
}
.modal .modal-content .flex-container form input[type=checkbox] {
  padding: 0px 0;
  appearance: none;
  display: inline-block;
  outline: 1px solid #F89D24;
  width: 15px;
  height: 16px;
  font-size: 1rem;
  vertical-align: middle;
}
.modal .modal-content .flex-container form input[type=checkbox]::after {
  content: "✓";
  padding-top: 5px;
  color: #232323;
  display: none;
}
.modal .modal-content .flex-container form input[type=checkbox]:checked {
  background-color: #F89D24;
}
.modal .modal-content .flex-container form input[type=checkbox]:checked::after {
  display: block;
  color: #232323;
  padding: 0px 0;
}
.modal .modal-content .flex-container form button {
  margin: 8% 0;
  width: 45.84vw;
  height: 7.27vh;
  background-color: #F89D24;
  color: white;
}
.modal .modal-content .flex-container form .checkbox-container {
  width: 100%;
  display: inline-block;
}

@media (min-width: 1024px) {
  header {
    height: 15vh;
  }
  header img {
    width: 8.49vw;
    height: 12.37vh;
    position: relative;
    left: 1.5vw;
    top: 1.5vh;
  }
}
@media (min-width: 1024px) {
  /* Declarando variáveis para o uso no sass */ 
  section.first-section {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 15vh);
  }
}
@media (min-width: 1024px) {
  section.second-section .text-box {
    width: 33%;
    height: 29.82%;
    background-color: inherit;
    border: 1px solid #FEC024;
    border-top: none;
    font-size: 4rem;
  }

  section.second-section {
    width: 100vw;
    display: grid !important;
    grid-template-columns: 45% 55%;
    /* Parágrafo da segunda seção */
  }
  section.second-section .text-box {
    position: relative;
    top: 0%;
    left: 22%;
  }
  section.second-section h3.text-box-heading {
    position: relative;
    left: 1.8%;
    top: 7vh;
    width: 18.3vw;
    height: 20.61%;
    font-size: 4rem;
    align-self: flex-start;
  }
  section.second-section .button-container {
    margin: 5vh 0;
    margin-left: 8vw;
  }
  section.second-section .button-container button {
    padding: 4% 2%;
  }
  section.second-section .mobile {
    display: none;
  }
  section.second-section .desktop {
    display: block;
  }
  section.second-section p {
    margin-left: 12vw;
    width: 24.67vw;
    height: 26.69vh;
    text-align: justify;
    font-size: 1.125rem;
  }
  section.second-section .card-container {
    display: flex;
    flex-flow: row wrap;
  }
  section.second-section .card-container .card {
    padding: 2% 0;
    width: 18.52vw;
    height: 35.29vh;
    border: 1px solid #6E6E6E;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }
  section.second-section .card-container .card img {
    margin: 0;
    width: 35.28%;
    height: 35.42%;
  }
  section.second-section .card-container .card p {
    padding: 2% 0;
    margin: 0;
    width: 15vw;
    height: 9.51vh;
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: justify;
  }
}
@media (min-width: 1024px) {
  /* Declarando variáveis para o uso no sass */
  .container section.third-section {
    position: relative;
    width: 100vw;
    height: 48.44vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .container section.third-section .box-01 {
    position: static;
    background-image: none;
    width: 58.57vw;
    height: 18.22vh;
  }
  .container section.third-section .box-01 h1 {
    margin: 0 6%;
    width: 99.57%;
    height: 37.63%;
    text-align: center;
  }
  .container section.third-section .box-01::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .container section.third-section .box-02 {
    width: 39.38vw;
    height: 38.5vh;
  }
  .container section.third-section .box-02 h1 {
    width: 23.57vw;
  }
  .container section.third-section .box-02 button {
    width: 37.73%;
    height: 18.92%;
  }
  .container section.third-section::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("./assets/Grupo 34.svg");
    opacity: 0.3;
  }
}
@media (min-width: 1024px) {
  section.fourth-section {
    width: 100vw;
    height: 79.57vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-clip: border-box;
    background-size: 105vw 100%;
  }
  section.fourth-section .mobile {
    display: none;
  }
  section.fourth-section .desktop {
    display: flex;
  }
  section.fourth-section .desktop-competence-container {
    width: 70.35%;
    height: 59.25%;
    flex-direction: row;
    justify-content: center;
  }
  section.fourth-section .desktop-competence-container .button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 39.33%;
    background-color: #686868;
  }
  section.fourth-section .desktop-competence-container .button-container button {
    padding: 5% 0;
    padding-left: 0;
    font-size: 2rem;
    margin: 0;
    color: white;
    background-color: #686868;
    border: none;
    border-radius: 0;
    width: 75%;
    height: 18%;
    text-align: start;
    vertical-align: bottom;
  }
  section.fourth-section .desktop-competence-container .button-container .active {
    transition: all 0.5s ease;
    font-weight: bold;
    border-bottom: 1px solid #F89D24;
  }
  section.fourth-section .desktop-competence-container .content {
    width: 60.67%;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section.fourth-section .desktop-competence-container .content .button-container {
    width: 80%;
    height: 5%;
    margin: 7% 0;
    padding-left: 20%;
    background-color: #262626;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  section.fourth-section .desktop-competence-container .content .button-container button {
    font-style: italic;
    width: 90%;
    height: 5%;
    font-size: 0.875rem;
    background-color: #262626;
    border: none;
  }
  section.fourth-section .desktop-competence-container .content .button-container .orange {
    color: #F89D24;
  }
  section.fourth-section .desktop-competence-container .content p {
    margin: 0;
    padding: 2% 0;
    color: white;
    font-size: 1.125rem;
    width: 57.8%;
    height: 50.83%;
    text-align: start;
  }
}
@media (min-width: 1024px) {
  /* Declarando variáveis para o uso no sass */ 
  section.fifth-section .card-container .card {
    display: flex;
    flex-direction: column;
  }

  section.fifth-section .card-container .card {
    align-items: center;
  }

  section.fifth-section .card-container .card {
    justify-content: space-around;
  }

  section.fifth-section .card-container .card {
    border: 1px solid #6E6E6E;
    border-radius: 5px;
  }

  section.fifth-section .text-box {
    width: 15%;
    height: 12.56%;
    padding: 7.56% 0;
    background-color: inherit;
    border: 1px solid #FEC024;
    border-top: none;
    font-size: 4rem;
  }

  section.fifth-section .card-container .card p {
    font-size: 1rem;
    text-align: justify;
  }

  section.fifth-section {
    width: 100vw;
    padding-bottom: 4%;
  }
  section.fifth-section .text-box {
    position: relative;
    top: 0%;
    left: -29%;
  }
  section.fifth-section h3.text-box-heading {
    position: relative;
    top: -78px;
    left: 19.75%;
    margin: 0vw;
    width: 23.94%;
    height: 9.57%;
    font-size: 4rem;
    align-self: flex-start;
  }
  section.fifth-section .button-container button {
    height: 3.41%;
    padding: 3.2% 2%;
  }
  section.fifth-section .card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  section.fifth-section .card-container .card {
    margin: 2vh 1vw;
    width: 26.57vw;
    height: 65.66vh;
  }
  section.fifth-section .card-container .card .card-title {
    display: block;
    width: 12.81vw;
    height: 4.69vh;
    line-height: 1rem;
  }
  section.fifth-section .card-container .card img {
    width: 86.78%;
    height: 46.89%;
  }
  section.fifth-section .card-container .card p {
    padding: 2% 0;
    width: 86.78%;
    height: 36.1%;
  }
}
@media (min-width: 1024px) {
  .arrow {
    position: relative;
    top: 0vh;
    left: 0vw;
    display: block;
    width: 3em;
    height: 3em;
    border-right: 0.2em solid white;
    border-top: 0.2em solid white;
    transform: rotate(135deg);
  }

  section.sixth-section {
    width: 100%;
  }
  section.sixth-section h1, section.sixth-section h5 {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  section.sixth-section h5 {
    margin: 0;
    width: 30%;
    height: 20%;
    position: relative;
    bottom: -30px;
    right: -600px;
    font-size: 2rem;
    color: #F89D24;
    text-align: right;
  }
  section.sixth-section .carousel {
    position: relative;
    left: 0%;
    height: 78.125vh;
    width: 93.26vw;
    margin: 0;
    overflow: hidden;
  }
  section.sixth-section .carousel .carousel-border {
    display: block;
    background: transparent;
    border: 0;
    position: absolute;
    width: 4.83vw;
    height: 8.59vh;
  }
  section.sixth-section .carousel .carousel-border.border-top {
    border-right: 1px solid #F89D24;
    border-top: 1px solid #F89D24;
    top: 0;
    right: 5%;
  }
  section.sixth-section .carousel .carousel-border.border-bottom {
    border-left: 1px solid #F89D24;
    border-bottom: 1px solid #F89D24;
    bottom: 1.5%;
    left: 0;
  }
  section.sixth-section .carousel .carousel__track-container {
    height: 100%;
  }
  section.sixth-section .carousel .carousel__track-container .carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    transition: transform 250ms ease-in;
  }
  section.sixth-section .carousel .carousel__track-container .carousel__track .carousel__slide {
    position: absolute;
    top: 0;
    left: -0.1vw;
    bottom: 0;
    width: 100%;
  }
  section.sixth-section .carousel .carousel__track-container .carousel__track .carousel__slide.current-slide h1 {
    position: absolute;
    width: 70%;
    top: 20%;
    left: 15%;
  }
  section.sixth-section .carousel .carousel__track-container .carousel__track .carousel__slide.current-slide h5 {
    position: absolute;
    top: 52%;
    right: 18%;
  }
  section.sixth-section .carousel .carousel__button {
    display: block;
    position: absolute;
    top: 25%;
    width: 2.49vw;
    height: 4.43vh;
    transform: translateY(-50%);
    border: 0;
    background: transparent;
    cursor: pointer;
  }
  section.sixth-section .carousel .carousel__button .arrow {
    position: relative;
    top: 0vh;
    left: 0vw;
    display: block;
    width: 1em;
    height: 1em;
    border-right: 0.5em solid #686868;
    border-top: 0.5em solid #686868;
    transform: rotate(135deg);
  }
  section.sixth-section .carousel .carousel__button--left {
    left: 30px;
    transform: rotate(90deg);
  }
  section.sixth-section .carousel .carousel__button--right {
    right: 70px;
    transform: rotate(-90deg);
  }
  section.sixth-section .carousel .carousel__nav {
    width: 11.1%;
    position: absolute;
    bottom: 15%;
    left: 45%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  section.sixth-section .carousel .carousel__nav .carousel__indicator {
    width: 0;
    height: 0;
    border: 0;
    background: transparent;
    position: relative;
    top: -10px;
    margin: 0 12px;
    cursor: pointer;
  }
  section.sixth-section .carousel .carousel__nav .carousel__indicator::after {
    content: "+";
    color: #707070;
  }
  section.sixth-section .carousel .carousel__nav .carousel__indicator.current-slide {
    border: 0;
    border-radius: 0;
    width: 52px;
    height: 0;
    padding: 2px 0;
    background: white;
    margin: 10% 12px;
    top: 0px;
    transition: transform 500ms ease-in;
  }
  section.sixth-section .carousel .carousel__nav .carousel__indicator.current-slide::after {
    content: "";
  }
}
@media (min-width: 1024px) {
  section.seventh-section .text-box {
    width: 23%;
    height: 29.82%;
    padding: 11.5% 0;
    background-color: inherit;
    border: 1px solid #FEC024;
    border-top: none;
    font-size: 4rem;
  }

  section.seventh-section {
    width: 100vw;
    height: 70vw;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around;
    align-items: flex-start;
  }
  section.seventh-section .text-box {
    position: relative;
    top: -165px;
    left: 12%;
  }
  section.seventh-section h3.text-box-heading {
    position: relative;
    top: -120px;
    left: -2.8%;
    margin: 0vw;
    width: 53.65%;
    height: 21.61%;
    font-size: 4rem;
    align-self: flex-start;
  }
  section.seventh-section p {
    text-align: justify;
    position: relative;
    left: 4%;
    top: -15px;
    width: 40.62%;
    height: 28.69%;
  }
  section.seventh-section .button-container {
    position: relative;
    width: 60%;
    top: 0%;
  }
  section.seventh-section .button-container button {
    padding: 3% 2%;
  }
  section.seventh-section .desktop {
    display: block;
  }
  section.seventh-section .mobile {
    display: none;
  }
  section.seventh-section ul {
    font-size: 0.875rem;
    list-style-type: circle;
  }
  section.seventh-section ul li {
    font-weight: bold;
    width: 32.43vw;
    height: 9.375vh;
    margin: 15% 0;
  }
  section.seventh-section ul li h6 {
    margin-top: 2%;
    height: 1.95vh;
    text-transform: uppercase;
    color: #F89D24;
  }
  section.seventh-section ul li p {
    top: 0;
    margin-bottom: 10%;
    line-height: 1.25rem;
    width: 80.67%;
    height: 95.12%;
    text-align: justify;
  }
}
@media (min-width: 1024px) {
  section.eighth-section .content-container .text-box {
    width: 30%;
    height: 27.82%;
    padding: 15% 0;
    background-color: inherit;
    border: 1px solid #FEC024;
    border-top: none;
    font-size: 4rem;
  }

  section.eighth-section .content-container p {
    font-size: 1rem;
    text-align: justify;
  }

  section.eighth-section {
    width: 100vw !important;
    display: grid !important;
    grid-template-columns: 50vw 50vw;
    background: radial-gradient(#2C2C2C, #1A1A1A);
  }
  section.eighth-section .img-container {
    display: block;
  }
  section.eighth-section .img-container img {
    width: 150%;
    height: 100%;
    object-fit: cover;
  }
  section.eighth-section .content-container {
    background-image: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  section.eighth-section .content-container .text-box {
    position: relative;
    top: -58px;
    left: 17.5%;
  }
  section.eighth-section .content-container h3.text-box-heading {
    width: 17.42vw;
    height: 21.83vh;
    margin: 0;
    position: relative;
    top: -124px;
    left: -8%;
  }
  section.eighth-section .content-container p {
    position: relative;
    top: -10vh;
    line-height: 2rem;
    margin: 0 2vw;
    width: 24.67vw;
    height: 26.69vh;
  }
  section.eighth-section .content-container .button-container {
    margin: 5vh 0;
    position: relative;
    top: -10vh;
  }
}
@media (min-width: 1024px) {
  footer {
    width: 100vw;
    height: 24.22vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  footer .paragraph-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  footer .paragraph-container strong {
    font-weight: normal;
  }
  footer .desktop {
    display: block;
  }
  footer p {
    margin: 8vh 2vw;
  }
}
@media (min-width: 1024px) {
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 25.7%;
    top: 2.5%;
    width: 46.56vw;
    height: 93.75vh;
    overflow: auto;
    background-color: black;
    background-color: #232323;
    opacity: 1;
  }
  .modal .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 93.75vh;
  }
  .modal .modal-content .close {
    color: #707070;
    position: absolute;
    left: 90%;
    top: 3%;
    font-size: 5rem;
    font-weight: bold;
  }
  .modal .modal-content .flex-container {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .modal .modal-content .flex-container h1 {
    font-size: 2.375rem;
    color: #F89D24;
  }
  .modal .modal-content .flex-container p {
    width: 33.6vw;
    height: 6.12vh;
  }
  .modal .modal-content .flex-container form {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .modal .modal-content .flex-container form input {
    margin: 4% 0;
    padding: 0 4%;
    border: 1px solid #F89D24;
    color: #F89D24;
    width: 24.01vw;
    height: 7.29vh;
  }
  .modal .modal-content .flex-container form input::placeholder {
    color: #F89D24;
  }
  .modal .modal-content .flex-container form input[type=checkbox] {
    padding: 0px 0;
    appearance: none;
    display: inline-block;
    outline: 1px solid #F89D24;
    width: 15px;
    height: 16px;
    font-size: 1rem;
    vertical-align: middle;
  }
  .modal .modal-content .flex-container form input[type=checkbox]::after {
    content: "✓";
    padding-top: 5px;
    color: #232323;
    display: none;
  }
  .modal .modal-content .flex-container form input[type=checkbox]:checked {
    background-color: #F89D24;
  }
  .modal .modal-content .flex-container form input[type=checkbox]:checked::after {
    display: block;
    color: #232323;
    padding: 0px 0;
  }
  .modal .modal-content .flex-container form button {
    margin: 8% 0;
    width: 16.84vw;
    height: 7.27vh;
    background-color: #F89D24;
    color: white;
  }
  .modal .modal-content .flex-container form .checkbox-container {
    width: 100%;
    display: inline-block;
  }
}
/* Importando um arquivo CSS Reset */
.button-container, .container section, .container {
  display: flex;
  flex-direction: column;
}

.button-container, .container section, .container {
  align-items: center;
}

/* Standard CSS */
html {
  font-size: 12px;
}

body {
  overflow-x: hidden;
  background-color: #0C0C0C;
  color: white;
}

h1 {
  font-size: 3.375rem;
  width: 78.89vw;
}

p {
  color: #B5B5B5;
}

h1, p {
  text-align: center;
}

/* Botão */
button {
  width: 46.94vw;
  height: 9.84%;
  padding: 10% 0;
  margin: 2vh 0;
  color: white;
  font-size: 1.33rem;
  border-radius: 5px;
}

span.card-title {
  color: #F89D24;
}

/* mobile */
.container {
  margin: 0;
}
button.orange {
  background-color: #F89D24;
  border: 1px solid #F89D24;
}

button.black {
  background-color: #0C0C0C;
  border: 1px solid #FFFFFF;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .container {
    margin-right: 50px;
    margin-left: 50px;
  }
}
@media (min-width: 1024px) {
  /* Desktop */
  /* Declarando variáveis para o uso no sass */
  /* Texto que contém um 'U' nele */ 
  /* Container dos botões da página */
  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .button-container button {
    margin: 2vh 1.5vw;
    width: 12.37vw;
    padding: 0 2%;
    height: 95.29%;
  }

  .container {
    margin: 0;
    padding: 0;
  }
  .container h1 {
    width: 58.57vw;
  }
  .container p {
    font-size: 1rem;
    width: 30.45vw;
  }

  section.sixth-section {
    background-size: cover;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .container {
    margin: 0;
    padding: 0;
  }
}