@media (min-width: 1440px) {

    section.first-section{
        width: 100vw;
        background-size: 100vw;
        align-items: flex-start;
        justify-content: center;
    }
    
    .first-section h1, .first-section h3{
        margin: 1% 10vw;
    }
    
    .first-section button{
        width: 18.47vw;
        margin: 0 10vw;
        margin-top: 3%
    }
    
    .first-section .img-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .first-section .img-container .arrow{
        position: relative;
        top: 0vh;
        left: 0vw;
        display: block;
        width: 3em;
        height: 3em;
        border-right: 0.2em solid white;
        border-top: 0.2em solid white;
        transform: rotate(135deg);
    }
    
    .first-section .img-container img{
        margin-top: 5vh;
    }

}

