
@media (min-width: 1440px) {

    header{
        height: 8.89vh;
        margin: 0%;
    }
    
    /* navbar */
    header nav{
        display: block;
        margin: 0%;
        height: 8.89vh;
        box-sizing: initial;
    }
    
    nav .dropdown {
        display: none;
    }
    
    nav .desktop-menu{
        padding: 0;
        margin: 0;
        width: 80vw;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    nav .desktop-menu img{
        width: 70%;
        height: 30%;
    }
    
    nav .desktop-menu .button-container{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        right: 0;
        margin: 0%;
        padding: 0%;
    
    }
    
    nav .desktop-menu .button-container button{
        background-color: #2571B7;
        position: static;
    }
    
    nav .desktop-menu .button-container button:hover{
        background-color: #488ac7;
    }
    
    header nav button{
        width: 9.95vw;
        height: 4.11vh;
        position: absolute;
        right: 0;
        top: 0;
    }


}
