section.eighth-section .content-container .text-box {
  width: 30.71%;
  height: 50.49%;
  padding: 16.49% 0;
  background-color: inherit;
  border: 1px solid #FEC024;
  border-top: none;
  font-size: 4rem;
}

section.eighth-section .content-container h3.text-box-heading {
  display: inline-block;
  width: 52vw;
  height: 21.83vh;
  font-weight: normal;
  font-size: 4rem;
}

section.eighth-section .content-container p {
  margin: 4vh 4vw;
  font-size: 1.125rem;
  text-align: justify;
}

section.eighth-section {
  width: 100%;
  display: block;
}
section.eighth-section .img-container {
  display: none;
}
section.eighth-section .content-container {
  background-image: url("./assets/negociando.png");
  background-repeat: no-repeat;
}
section.eighth-section .content-container .text-box {
  display: inline-block;
  margin: 0;
  position: relative;
  top: 0vh;
  left: 5vw;
}
section.eighth-section .content-container h3.text-box-heading {
  display: inline-block;
  width: 69.45vw;
  height: 21.83vh;
  margin: 0;
  position: relative;
  top: -10vh;
  left: 9vw;
}
section.eighth-section .content-container p {
  line-height: 2rem;
  margin: 0 2vw;
  width: 86.67vw;
  height: 26.06vh;
}
section.eighth-section .content-container .button-container {
  margin: 5vh 0;
}
section.eighth-section .content-container .button-container button {
  padding: 5% 2%;
}