@charset "UTF-8";
section.fifth-section .card-container, section.fifth-section .card-container .card {
  display: flex;
  flex-direction: column;
}

section.fifth-section .card-container, section.fifth-section .card-container .card {
  align-items: center;
}

section.fifth-section .card-container .card {
  justify-content: space-around;
}

section.fifth-section .text-box {
  width: 32.71%;
  height: 18.49%;
  padding: 16.49% 0;
  background-color: inherit;
  border: 1px solid #FEC024;
  border-top: none;
  font-size: 4rem;
}

section.fifth-section h3.text-box-heading {
  margin-top: 9vh;
  margin-left: 4vw;
  width: 52vw;
  height: 21.83vh;
  font-weight: normal;
  font-size: 4rem;
  align-self: flex-start;
}

section.fifth-section .card-container .card {
  border: 1px solid #6E6E6E;
  border-radius: 5px;
}

section.fifth-section .card-container .card p {
  margin: 0vh 4vw;
  font-size: 1.34rem;
  text-align: justify;
}

/* Quinta Seção */
section.fifth-section .text-box {
  position: relative;
  top: 0vh;
  left: -30vw;
}
section.fifth-section h3.text-box-heading {
  width: 63.1vw;
  height: 21.83vh;
  margin: 0;
  position: relative;
  top: -54px;
  left: 3%;
}
section.fifth-section .card-container .card {
  margin-bottom: 3vh;
  width: 87.5vw;
  height: 89.96vh;
}
section.fifth-section .card-container .card .card-title {
  display: block;
  width: 45.61vw;
  height: 6.34vh;
  line-height: 2rem;
}
section.fifth-section .card-container .card img {
  width: 74.17vw;
  height: 41.2vh;
}