@charset "UTF-8";
/* Declarando variáveis para o uso no sass */ 
.second-section .card-container, .second-section .card-container .card {
  display: flex;
  flex-direction: column;
}

.second-section .card-container .card {
  align-items: center;
}

.second-section .text-box {
  width: 30.71%;
  height: 50.49%;
  padding: 14.49% 0;
  background-color: inherit;
  border: 1px solid #FEC024;
  border-top: none;
  font-size: 4rem;
}

.second-section h3.text-box-heading {
  width: 51.94%;
  height: 7.83%;
  font-weight: normal;
  font-size: 4rem;
}

.second-section .card-container .card {
  border: 1px solid #6E6E6E;
  border-radius: 5px;
}

.second-section .card-container .card p {
  margin: 0vh 4vw;
  font-size: 1.34rem;
  text-align: justify;
}

section.second-section {
  position: relative;
  width: 100vw;
  display: flex;
  background: radial-gradient(#2C2C2C, #1A1A1A);
}

.second-section {
  /* Container de cards da segunda seção */
  /* Parágrafo da segunda seção */
}
.second-section .mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.second-section .desktop {
  display: none;
}
.second-section .text-box {
  display: inline-block;
  position: relative;
  top: 0%;
  left: 10%;
}
.second-section h3.text-box-heading {
  display: inline-block;
  margin: 0;
  position: absolute;
  top: 3%;
  left: 14%;
}
.second-section .card-container {
  align-items: center;
  justify-content: space-around;
}
.second-section .card-container .card {
  padding: 5% 0;
  margin: 2vh 0;
  width: 70.28%;
  height: 49.71%;
  justify-content: space-evenly;
}
.second-section .card-container .card img {
  width: 39.13%;
  height: 35.42%;
}
.second-section p {
  margin: 0 20px;
  padding-top: 20%;
  text-align: justify;
  line-height: 1.8rem;
}