@charset "UTF-8";
/* Declarando variáveis para o uso no sass */ 
.second-section .card-container, .second-section .card-container .card {
  display: flex;
  flex-direction: column;
}

.second-section .card-container .card {
  align-items: center;
}

.second-section .text-box {
  width: 30.56vw;
  height: 18.49vh;
  background-color: inherit;
  border: 1px solid #FEC024;
  border-top: none;
  font-size: 4rem;
}

.second-section h3.text-box-heading {
  width: 51.94vw;
  height: 21.83vh;
  font-weight: normal;
  font-size: 4rem;
}

.second-section .card-container .card {
  border: 1px solid #6E6E6E;
  border-radius: 5px;
}

.second-section .card-container .card p {
  margin: 0vh 4vw;
  font-size: 1.34rem;
  text-align: justify;
}

section.second-section {
  width: 100vw;
  display: flex;
  background: radial-gradient(#2C2C2C, #1A1A1A);
}

.second-section {
  /* Container de cards da segunda seção */
  /* Parágrafo da segunda seção */
}
.second-section .mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.second-section .desktop {
  display: none;
}
.second-section .text-box {
  position: relative;
  top: 0vh;
  left: 10vw;
}
.second-section h3.text-box-heading {
  margin: 0;
  position: relative;
  top: -10vh;
  left: 14%;
}
.second-section .card-container {
  justify-content: space-around;
}
.second-section .card-container .card {
  margin: 2vh 0;
  width: 70.28vw;
  height: 46vh;
  justify-content: space-evenly;
}
.second-section .card-container .card img {
  width: 27.5vw;
  height: 16.9vh;
}
.second-section p {
  margin: 0;
  margin-right: 20px;
  margin-left: 20px;
  text-align: justify;
  line-height: 1.8rem;
}