@charset "UTF-8";
section.seventh-section .text-box {
  width: 30.71vw;
  height: 18.49vh;
  background-color: inherit;
  border: 1px solid #FEC024;
  border-top: none;
  font-size: 4rem;
}

section.seventh-section h3.text-box-heading {
  width: 52vw;
  height: 21.83vh;
  font-weight: normal;
  font-size: 4rem;
  align-self: flex-start;
}

section.seventh-section p {
  width: 86.67vw;
  height: 26.06vh;
  font-size: 1.125rem;
  text-align: justify;
}

/* Sétima Seção */
section.seventh-section {
  width: 100vw;
  background: radial-gradient(#2C2C2C, #1A1A1A);
}
section.seventh-section .button-container {
  margin: 5vh 0;
}
section.seventh-section .text-box {
  display: inline-block;
  margin: 0;
  position: relative;
  top: 0vh;
  left: 5vw;
}
section.seventh-section h3.text-box-heading {
  display: inline-block;
  width: 69.45vw;
  height: 21.83vh;
  margin: 0;
  position: relative;
  top: -11vh;
  left: 9vw;
}
section.seventh-section p {
  line-height: 2rem;
}
section.seventh-section .desktop {
  display: none;
}
section.seventh-section ul {
  color: #F89D24;
  font-size: 1.7rem;
  list-style-type: circle;
  margin: 2vh 0;
}
section.seventh-section ul li {
  font-weight: bold;
  width: 83.11vw;
  height: 17.25vh;
}
section.seventh-section ul li h6 {
  text-transform: uppercase;
  color: #F89D24;
  font-size: 1.17rem;
}
section.seventh-section ul li p {
  display: inline-block;
  width: 79.44vw;
  height: 12.85vh;
  margin: 0;
  text-align: justify;
}