@charset "UTF-8";
/* Sexta Seção */ 
section.sixth-section {
  height: 609px;
  background-image: url("./assets/opinion.png");
  background-size: contain;
  background-repeat: no-repeat;
  /* Carrossel Menu */
}
section.sixth-section h5 {
  margin: 0;
  font-size: 1.5rem;
  color: #F89D24;
  text-align: center;
}
section.sixth-section .carousel {
  position: relative;
  height: 78.125vh;
  width: 93.26vw;
  margin: 0 auto;
}
section.sixth-section .carousel .carousel-border {
  display: none;
}
section.sixth-section .carousel .carousel__track-container {
  height: 100%;
  overflow: hidden;
}
section.sixth-section .carousel .carousel__track-container .carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  transition: transform 250ms ease-in;
}
section.sixth-section .carousel .carousel__track-container .carousel__track .carousel__slide {
  position: absolute;
  top: 0;
  left: -0.1vw;
  bottom: 0;
  width: 100%;
}
section.sixth-section .carousel .carousel__track-container .carousel__track .carousel__slide.current-slide h1 {
  font-size: 3.375rem;
  position: absolute;
  width: 86.67vw;
  height: 64.08vh;
  left: 5%;
}
section.sixth-section .carousel .carousel__track-container .carousel__track .carousel__slide.current-slide h5 {
  width: 80vw;
  height: 8.1vh;
  position: absolute;
  top: 50vh;
  left: 6vw;
}
section.sixth-section .carousel .carousel__button {
  display: none;
}
section.sixth-section .carousel .carousel__button .arrow {
  position: relative;
  top: 0vh;
  left: 0vw;
  display: block;
  width: 1em;
  height: 1em;
  border-right: 0.5em solid #686868;
  border-top: 0.5em solid #686868;
  transform: rotate(135deg);
}
section.sixth-section .carousel .carousel__button--left {
  left: 30px;
  transform: rotate(90deg);
}
section.sixth-section .carousel .carousel__button--right {
  right: 50px;
  transform: rotate(-90deg);
}
section.sixth-section .carousel .carousel__nav {
  position: absolute;
  bottom: -10px;
  left: 25%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
section.sixth-section .carousel .carousel__nav .carousel__indicator {
  width: 0;
  height: 0;
  border: 0;
  background: transparent;
  position: relative;
  top: -10px;
  margin: 0 8px;
  cursor: pointer;
}
section.sixth-section .carousel .carousel__nav .carousel__indicator::after {
  content: "+";
  color: #707070;
}
section.sixth-section .carousel .carousel__nav .carousel__indicator.current-slide {
  border: 0;
  border-radius: 0;
  width: 50px;
  height: 2.5px;
  background: white;
  margin: 0 8px;
  top: 0px;
  transition: transform 500ms ease-in;
}
section.sixth-section .carousel .carousel__nav .carousel__indicator.current-slide::after {
  content: "";
}