/*
Requisitos:
Desenvolvimento de um arquivo HTML e CSS a partir dos mockups apresentados;
O menu deve continuar fixo a medida que usuário desce a tela;
Não há necessidade de criação de nenhuma funcionalidade;
Todos os botões devem ter uma mudança de cor para uma mais clara quando o usuário passa o mouse;
Utilizar Roboto como a fonte principal;
Seguir os padrões de desenvolvimento da Raccoon (container, encapsulamento e mobile-first);
Os arquivos para execução do projeto encontram-se neste link.

Desafio:
Utilizar a metodologia BEM para nomenclatura das classes.

*/

/* Importando a fonte roboto */

@import url('./fonts.css');

/* Retirando o estilo padrão do Browser e realizando um CSS reset padrão*/
html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}
h1{font-size:2em;margin:.67em 0}
html{
 font-size: 12px;
}

html, body{
    margin: 0%;
    padding: 0%;
    font: 400 regular 'Roboto', sans-serif;
}

p{
    margin: 0;
    color: #737373
}


@media(min-width:768px){
    html{
        font-size: 16px;
    }


} 


.container {
    margin-right: 20px;
    margin-left: 20px;
}

@media (min-width: 768px) {
    .container {
        margin-right: 50px;
        margin-left: 50px;
    }
}

@media (min-width: 1024px) {
    .container {
        margin-right: 80px;
        margin-left: 80px;
    }
    nav .dropdown {
        position: relative;
        display: none;
    }

}

/* Mobile */

/* Definindo o heading */

h3{ 
    font-size: 2rem;
    text-align: center;
    color: #2571B7;
 }

header{
    height: 7.5vh;
}

/* Definindo a navbar  */

header nav{
    z-index: 1; /*Deixar acima da tela */
    position: fixed;
    top: 0;
    width: 100%;
    height: 7.5vh;  /*height: 7.5vh; */
    background-color: #2571B7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}

nav .desktop-menu{
    display: none;
}

/* Definindo o botão da navbar */
nav button{
    margin: 2vh 0%;
    margin-right: 4%;
    width: 30%;
    height: 4.3vh;
    background-color: #002050;
    border: none;
    color: white;
    box-sizing: border-box;
}

nav button:hover{
    background-color: #144da1;
}

/* Definindo o menu collapse */

.mainmenubtn {
    background-color: #2571B7;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0px 15px;
    
}

/* Talvez não seja o melhor jeito de definir as barras do dropdown menu */
.mainmenubtn .collapse-border{
    width: 2rem;
    height: 0.2rem;
    background-color: white;
    margin: 0.35em 0%;
}

.mainmenubtn:hover {
    background-color: #2571B7;
    padding: 0px 15px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: #2571B7;
    min-width: 200px;
    border: 1px solid #2571B7;
}
.dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
    position: relative;
    bottom: 2vh;
}


/* Primeira seção */

section.first{
    background-image: url('./assets/Grupo\ 52.png');
    background-position: 50% 0%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 92vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first h1{
    font-size: 3.5rem;
}

.first h3{
    color: white;
}


.first button{
    border: none;
    color: white;
    font-size: 1.75rem;
    width: 52.22vw;
    height: 8.125vh;
    background-color: #00A4EF;
}

.first button:hover{
    background-color: #53bbeb;
}

.first .img-container{
    display: block;
}

.first .img-container .arrow{
    display: none;
}

.first .img-container img{
    width: 36.3vw;
    height: 6.15vh;
    position: relative;
    top: 18vh
}



/* Segunda seção */


section.second{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;
    color: white;

}

.second .text{
    margin: 10vh 5vw;
    height: 182px;
    color: #737373;
    text-align: center;
    line-height: 2rem;
}

.second .text span{
    color: #737373;
}

.second h3{
    color: #2571B7;
    font-size: 2rem;
    margin: 0%;
}

.second p:nth-of-type(2){
    margin: 2vh 10vw;
}

/* Estilizando as caixas de cores */


.second .color-box-container{
    display: flex;
    flex-flow: column nowrap;
}

.second .color-box{
    padding: 2vh 0%;
    margin-bottom: 2vh;
    width: 90vw;
    height: 124px; /* 19.375vh */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}

.color-box img{
    margin: 0% 3vw;
    padding: 0%;
}

.color-box  .text-box{
    margin: 0% 1%;
}

.color-box  .text-box h5{
    font-size: 1.5rem;
    margin: 2vh  0vw;
}

.color-box  .text-box p{
    color: white;
    font-size: 1rem;
}

/* Final da estilização das caixas */

/* Terceira seção */

section.third{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #737373;
}


/* Grupo de cards da terceira seção */


.third .card-group .card{
    height: 24.375vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: start;
    margin: 0vh 5vw;
    word-spacing: 1vw;
}

.third .card-group hr{
    background-color: #DEDEDE;
    margin: 2vh 2vw;
    border: 0.25vh solid #DEDEDE;  
    border-radius: 0%;
}

/* Cards da terceira seção */


.third .card h6{
    font-size: 1.25rem;
    margin: 1vh 0;

}

.third .card p{
    height: 70px;
    width: 236px
}


.third .card img{
    width: 19.44vw;
    height: 10.9375vh;
    align-self: center;
}

.third .card .card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.third .card .card-content button{
    padding: 1vh 0;
    margin: 1vh 0;
    background-color: white;
    border: 1px solid;
    width: 24vw;
    height: 4.6875vh
}

/* Cores dos cards */

#green-card{
    color: #7FBA00;
    border-color: #7FBA00;
}

#blue-card{
    color: #00A4EF;
    border-color: #00A4EF;
}

#yellow-card{
    color: #FFB900;
    border-color: #FFB900;
}



/* Quarta Seção */

.fourth h3{
    margin: 10vh 0;
}

.fourth .card-group{

    margin:  5vw;

}

.fourth .card-group .card{
    text-align: center;
    border: 3px solid #DEDEDE;
    color: #737373
}

.fourth .card h6{
    font-size: 1.25rem;
    color: #F25022;
}

.fourth .card p{
    margin: 0% 3vw;
    margin-bottom: 4vh;
}


/* Quinta Seção*/

section.fifth{

    width: 100vw;
    height: 35vh;
    background-image: url('./assets/Grupo\ 89.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fifth h3{
    color: white;
    text-align: center;
    font-weight: 400;
    line-height: 5vh;
    margin: 0% 4vw;
}

/* Sexta Seção */

section.sixth{
    margin: 5vh 5vw;
}

.sixth p{
    margin: 0% 5vw;
    font-size: 1.25rem;
    text-align: center;
} 

/* Formulário */

.sixth form{
    margin: 5vh 0;
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5% 5%;
    color: #737373;
}

.sixth form input{

    color: #737373;
    font-size: 1.25rem;
    border: 2px solid #E6E6E6;
    height: 44px;
    padding: 0 2vw;
    margin: 2% 0%;
    margin-bottom: 5vh;
}

.sixth form input:focus{
    border-color: #2571B7;
    
    
}

.sixth form button{
    height: 8.125vh;
    font-size: 1.75rem;
    color: white;
    border: none;
    background-color: #00A4EF;


}

.sixth form button:hover{
    background-color: #53bbeb;
}


/* Rodapé */


footer{
    height: 10vh;
    margin: 2vh 0;
    display: flex;
    flex-direction: column;
    justify-content:  space-between;
    text-align: center;
}

footer p{
    color: #B4B4B4
}

@media (min-width: 1440px) {
    /*
    .container {
        margin-right: calc((100vw - 1350px) / 2);
        margin-left: calc((100vw - 1350px) / 2);
    }
    */
    /* Desktop */

    /*header */
    header{
        height: 8.89vh;
        margin: 0%;
    }

    /* navbar */
    header nav{
        display: block;
        margin: 0%;
        height: 8.89vh;
        box-sizing: initial;
    }

    nav .dropdown {
        display: none;
    }

    nav .desktop-menu{
        padding: 0;
        margin: 0;
        width: 80vw;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    nav .desktop-menu img{
        width: 70%;
        height: 30%;
    }

    nav .desktop-menu .button-container{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        right: 0;
        margin: 0%;
        padding: 0%;

    }

    nav .desktop-menu .button-container button{
        background-color: #2571B7;
        position: static;
    }

    nav .desktop-menu .button-container button:hover{
        background-color: #488ac7;
    }

    header nav button{
        width: 9.95vw;
        height: 4.11vh;
        position: absolute;
        right: 0;
        top: 0;
    }

    /* Primeira seção */

    section.first{
        width: 100vw;
        background-size: 100vw;
        align-items: flex-start;
        justify-content: center;
    }

    .first h1, .first h3{
        margin: 1% 10vw;
    }

    .first button{
        width: 18.47vw;
        margin: 0 10vw;
        margin-top: 3%
    }

    .first .img-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .first .img-container .arrow{
        position: relative;
        top: 21vh;
        left: 8vw;
        display: block;
        width: 3em;
        height: 3em;
        border-right: 0.2em solid white;
        border-top: 0.2em solid white;
        transform: rotate(135deg);
    }

    .first .img-container img{
        margin-top: 5vh;
    }

    /* Segunda seção */
    .second h3{
        font-size: 3.333rem;
    }

    p{
        font-size: 1.6666rem;
    }

    .second .text span{
        color: #F25022;
    }


    /* Estilizando as caixas de cores */

    .second .color-box-container{
        flex-flow: row wrap;
        justify-content: center;

    }

    .second .color-box{
        width: 40vw;
        height: 13.3333vh;
        margin: 2vh 1vw;
    }

    /* Terceira seção */

}