header{
    padding: 0.25% 0%;
}
h2{
    margin: 2% 0%;
    text-align: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

aside, main, footer{
    display: flex;
    justify-content: center;
}

aside,main{
    margin: 10% 0%;
}

