@charset "UTF-8";
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* Importando um arquivo CSS Reset */
/* Declarando variáveis para o uso no sass */ 
.second .card-container, .fifth .card-container, .third .box-02, .second .card-container .card, .container section, .container, .fifth .card-container .card {
  display: flex;
  flex-direction: column;
}

.fifth .card-container, .third .box-02, .second .card-container .card, .container section, .container, .fifth .card-container .card {
  align-items: center;
}

.fifth .card-container .card {
  justify-content: space-around;
}

.text-box-heading {
  margin-top: 9vh;
  margin-left: 4vw;
  width: 52vw;
  height: 21.83vh;
  font-weight: normal;
  font-size: 4rem;
  align-self: flex-start;
}

.fifth .card-container .card, .second .card-container .card {
  border: 1px solid #6E6E6E;
  border-radius: 5px;
}

.fifth .card-container .card p, .second .card-container .card p {
  margin: 0vh 4vw;
  font-size: 1.34rem;
  text-align: justify;
}

/* Standard CSS */
html {
  font-size: 12px;
}

body {
  background-color: #0C0C0C;
  color: white;
}

h1 {
  font-size: 3.375rem;
}

p {
  color: #B5B5B5;
}

h1, p {
  text-align: center;
}

/* Texto que contém um 'U' nele */ 
.text-box {
  position: absolute;
  left: 3vw;
  width: 30.71vw;
  height: 18.49vh;
  background-color: inherit;
  border: 1px solid #FEC024;
  border-top: none;
  font-size: 4rem;
}

span.card-title {
  color: #F89D24;
}

/* mobile */
/* Imagem do header */
header img {
  width: 12.22vw;
  height: 6.34vh;
  position: relative;
  left: 1.5vw;
  top: 1.5vh;
}

.container {
  margin-right: 20px;
  margin-left: 20px;
}
.container section {
  width: 100vw;
}

button {
  width: 46.9vw;
  height: 9.86vh;
  margin: 2vh 0;
  color: white;
  font-size: 1.33rem;
  border-radius: 5px;
}

button.orange {
  background-color: #F89D24;
  border: 1px solid #F89D24;
}

button.black {
  background-color: #0C0C0C;
  border: 1px solid #FFFFFF;
}

/* Segunda Seção */
section.second, section.seventh {
  width: 100vw;
  background: radial-gradient(#2C2C2C, #1A1A1A);
}

.second {
  /* Container de cards da segunda seção */
  /* Parágrafo da segunda seção */
}
.second .card-container {
  justify-content: space-around;
}
.second .card-container .card {
  margin: 2vh 0;
  width: 70.28vw;
  height: 46vh;
  justify-content: space-evenly;
}
.second .card-container .card img {
  width: 27.5vw;
  height: 16.9vh;
}
.second p {
  margin-right: 20px;
  margin-left: 20px;
  text-align: justify;
  line-height: 1.8rem;
}

/* Terceira seção */
.third {
  /* Lidando com os diferentes backgrounds da terceira seção */
  /* Primeiro background */
  /* Segundo Background */
}
.third h1 {
  text-transform: capitalize;
  font-weight: normal;
}
.third .box-01 {
  height: 52.29vh;
  background-image: url("./assets/Grupo 34.svg");
}
.third .box-02 {
  justify-content: center;
  width: 100vw;
  height: 44.01vh;
  background-color: #F89D24;
}
.third .box-02 button {
  border: 1px solid white;
  background-color: white;
  color: #F89D24;
  width: 56.39vw;
}

/* Quarta seção  */
section.fourth {
  width: 100vw;
  background-image: url("./assets/teacher bnw.png");
}

.fourth h3 {
  width: 80vw;
  height: 21.83vh;
}

/* Quinta Seção */
.fifth .card-container .card {
  margin-bottom: 3vh;
  width: 87.5vw;
  height: 89.96vh;
}
.fifth .card-container .card img {
  width: 74.17vw;
  height: 41.2vh;
}
.sixth {
  background-image: url("./assets/opinion.png");
}
.sixth h5 {
  font-size: 1.5rem;
  color: #F89D24;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .container {
    margin-right: 50px;
    margin-left: 50px;
  }
}
@media (min-width: 1024px) {
  .container {
    margin-right: 80px;
    margin-left: 80px;
  }
}
@media (min-width: 1440px) {
  .container {
    margin-right: calc(($full-width - 1350px) / 2);
    margin-left: calc(($full-width - 1350px) / 2);
  }
}

/*# sourceMappingURL=index.css.map */
