/* Importando um arquivo CSS Reset */

@use 'css_reset'

/* Declarando variáveis para o uso no sass */ 

$font-size-normal:  12px
$font-heading-medium: 4rem
$full-width: 100vw
$card-border-radius:  5px

%flex-column
    display: flex
    flex-direction: column

%flex-column-items-center
    @extend %flex-column
    align-items: center

%flex-justified
    @extend %flex-column-items-center
    justify-content: space-around

%flex-between
    @extend %flex-column-items-center
    justify-content: space-between

%text-box-heading
    margin-top: 9vh
    margin-left: 4vw
    width: 52vw
    height: 21.83vh
    font-weight: normal
    font-size: $font-heading-medium
    align-self: flex-start

%card-border
    border: 1px solid #6E6E6E
    border-radius: $card-border-radius

%card-paragraph
    margin: 0vh 4vw
    font-size: 1.34rem
    text-align: justify


/* Standard CSS */

html
 font-size:  $font-size-normal

body
    background-color: #0C0C0C
    color: white

h1
    font-size: 3.375rem
    width: 78.89vw

p
    color: #B5B5B5

h1, p
    text-align: center

/* Botão */
button
    width: 46.94vw
    height: 9.86vh
    margin: 2vh 0
    color: white
    font-size: 1.33rem
    border-radius: $card-border-radius


/* Texto que contém um 'U' nele */ 
.text-box
    position: absolute
    left: 3vw
    width: 30.71vw
    height: 18.49vh
    background-color: inherit
    border: 1px solid #FEC024
    border-top: none
    font-size: $font-heading-medium

.text-box-heading
    @extend %text-box-heading

span.card-title
    color: #F89D24


/* mobile */

/* Imagem do header */
header 
    img
        width: 12.22vw
        height: 6.34vh
        position: relative
        left: 2.2vw
        top: 1.8vh

.container 
    margin-right: 20px
    margin-left: 20px
    @extend %flex-column-items-center
    section
        width: $full-width
        @extend %flex-column-items-center

.button-container
    @extend %flex-column-items-center


button.orange
    background-color: #F89D24
    border: 1px solid #F89D24


button.black
    background-color: #0C0C0C
    border: 1px solid #FFFFFF

/* Segunda Seção */

section.second, section.seventh
    width: $full-width
    background: radial-gradient(#2C2C2C,#1A1A1A)

.second 
    /* Container de cards da segunda seção */
    .card-container
        @extend %flex-column
        justify-content: space-around

        .card
            margin: 2vh 0
            width: 70.28vw
            height: 46vh
            @extend %card-border
            @extend %flex-column-items-center
            justify-content: space-evenly
            img
                width: 27.5vw
                height: 16.9vh
            p
                @extend %card-paragraph
    /* Parágrafo da segunda seção */
    p
        margin-right: 20px
        margin-left: 20px
        text-align: justify
        line-height: 1.8rem

  
/* Terceira seção */

.third
    h1
        text-transform: capitalize
        font-weight: normal
    /* Lidando com os diferentes backgrounds da terceira seção */
    /* Primeiro background */
    .box-01
        width: 100vw
        height: 52.29vh
        background-image: url('./assets/Grupo\ 34.svg')
        h1
            margin: 10vh 6vw
            width: 83.67vw
            height: 36.62vh
            text-align: justify

    /* Segundo Background */
    .box-02
        @extend %flex-column-items-center
        justify-content: center
        width: $full-width
        height: 44.01vh
        background-color: #F89D24

        button
            border: 1px solid white
            background-color: white
            color: #F89D24
            width: 56.39vw


/* Quarta seção  */
section.fourth
    width: $full-width
    background-image: url('./assets/teacher\ bnw.png')


.fourth 
    h3
        width: 80vw
        height: 21.83vh
    .competence-container
        margin-bottom: 5%
        @extend %flex-column-items-center
        .collapsible
            margin: 0
            background-color: #686868
            color: white
            cursor: pointer
            padding: 13px
            width: 86.87vw
            border: 1px solid #686868
            border-radius: 0.5px
            outline: none
            text-align: left
            font-size: 1.5rem
            font-weight: normal

        .collapsible::after 
            content: ''
            position: relative
            bottom: 2.5vh
            left: 70vw
            display: block
            width: 0.7825rem
            height: 0.7825rem
            border-right: 0.2rem solid white
            border-top: 0.2rem solid white
            transform: rotate(135deg)

            /*
                float: right
                margin-left: 5px 
                */

        .active::after 
            content: ''
            margin-top: 1vh
            transform: rotate(315deg) 
            font-weight: bold
        

        /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
        .active, .collapsible:hover 
           background-color: #555
        

        /* Style the collapsible content. Note: hidden by default */
        .content 
            width: 79.5vw
            font-size: 1.5rem
            text-align: justify
            background-color: #262626
            border: none
            padding: 0 13px
            max-height: 0
            overflow: hidden
            border: none
            transition: max-height 0.2s ease-out
            p
                text-align: justify
        .active + .content 
            border-top: 1px solid #FEC024
            border-bottom: 1px solid #FEC024

/* Quinta Seção */

.fifth
    .card-container
        @extend %flex-column-items-center
        .card
            margin-bottom: 3vh
            width: 87.5vw
            height: 89.96vh
            @extend %card-border
            @extend %flex-justified
            img
                width: 74.17vw
                height: 41.2vh 
            p
                @extend %card-paragraph

/* Sexta Seção */ 
.sixth
    height: 609px
    background-image: url('./assets/opinion.png')
    background-size: contain
    background-repeat: no-repeat
    h5
        font-size: 1.5rem
        color: #F89D24

/* Sétima Seção */
section.seventh
    h3.text-box-heading
        width: 69.45vw
        height: 21.83vh
        margin: 0 2vw
        margin-top: 9vh
    p
       @extend %card-paragraph

    // Lista Desordenada
    ul
        color: #F89D24
        font-size: 1.7rem
        list-style-type: circle
        margin: 0
        li
            width: 86.11vw
            height: 17.25vh
            h6
                text-transform: uppercase
                color: #F89D24
                font-size: 1.17rem
            p
                text-align: justify


section.eighth
    width: $full-width
    background-image: url('assets/negociando.png')
    p
        @extend %card-paragraph

footer
    p
        font-size: 1.33rem
        margin: 8vh 0

@media(min-width:768px)
    html
        font-size: 16px
    

@media (min-width: 768px) 
    .container 
        margin-right: 50px
        margin-left: 50px
    


@media (min-width: 1024px) 

    /* Desktop */
    /* Container dos botões da página
    .button-container
        display: flex
        flex-direction: row
        justify-content: center
        button
            margin: 2vh 1.5vw
            width: 12.37vw
            height: 7.29vh

    header
        height: 15vh
        img
            width: 8.49vw
            height: 12.37vh
            position: relative
            left: 1.5vw
            top: 1.5vh

    /* Primeira Seção */
    
    .first
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center
        height: calc(100vh - 15vh)

    .container 
        margin-right: 80px
        margin-left: 80px
        h1
            width: 58.57vw
        p
            font-size: 1rem
            width: 30.45vw

    // Segunda Seção

    .second 
        display: flex
        flex-direction: row
        justify-content: space-around
        .card-container
            display: flex
            flex-flow: row wrap
            justify-content: space-around

            .card
                margin: 2vh 2vw
                width: 18.52vw
                height: 35.29vh
                border: 1px solid #6E6E6E
                border-radius: $card-border-radius
                display: flex
                flex-direction: column
                align-items: center
                justify-content: space-evenly
                img
                    width: 7.24vw
                    height: 12.5vh
                p
                    margin: 0vh 4vw
                    font-size: 1rem
                    text-align: justify
            /* Parágrafo da segunda seção */
            p
                margin-right: 20px
                margin-left: 20px
                text-align: justify
                line-height: 1.8rem

    // Terceira Seção
    .third
        display: flex
        flex-direction: row
        justify-content: space-between
        .box02
            width: 39.39vw
            height: 38.5vh


@media (min-width: 1440px) 
    .container 
        margin-right: calc(($full-width - 1350px) / 2)
        margin-left: calc(($full-width - 1350px) / 2)
    

