/* Importando um arquivo CSS Reset */

html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

/* Standard CSS */

html{
 font-size: 12px;
}

body{
    background-color: #0C0C0C;
    color: white
}

h1{
    color: white;
    font-size: 3.375rem;
}

p{
    margin: 0;
    color: #B5B5B5
}

h1, p{
    text-align: center;
}

button{
    width: 46.9vw;
    height: 9.86vh;
    margin: 2vh 0;
    color: white;
    font-size: 1.33rem;
}

button.orange{
    background-color: #F89D24;
    border: 1px solid #F89D24;
}

button.black{
    background-color: #0C0C0C;
    border: 1px solid #FFFFFF;
}

.text-box{
    align-self: flex-start;
    width: 30.71vw;
    height: 18.49vh;
    background-color: inherit;
    border: 1px solid #FEC024;
    border-top: none;
    font-size: 4rem;
    text-align: center;
    line-height: 25vh;
    color: white
}

main h3{
    padding: 0;
    font-weight: normal;
    line-height: 0;
    font-size: 4rem;
    text-align: left;
    align-self: flex-start;
}

@media(min-width:768px){
    html{
        font-size: 16px;
    }
} 


.container {
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .container {
        margin-right: 50px;
        margin-left: 50px;
    }
}

@media (min-width: 1024px) {
    .container {
        margin-right: 80px;
        margin-left: 80px;
    }
}

@media (min-width: 1440px) {
    .container {
        margin-right: calc((100vw - 1350px) / 2);
        margin-left: calc((100vw - 1350px) / 2);
    }
}

header img{
    width: 12.22vw;
    height: 6.34vh;
    position: relative;
    left: 1.5vw;
    top: 1.5vh
}

/* mobile */