@media (min-width: 1024px) {
  section.fourth-section {
    width: 100vw;
    height: 79.57vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-clip: border-box;
    background-size: 105vw 100%;
  }
  section.fourth-section .mobile {
    display: none;
  }
  section.fourth-section .desktop {
    display: flex;
  }
  section.fourth-section .desktop-competence-container {
    width: 70.35%;
    height: 59.25%;
    flex-direction: row;
    justify-content: center;
  }
  section.fourth-section .desktop-competence-container .button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 39.33%;
    background-color: #686868;
  }
  section.fourth-section .desktop-competence-container .button-container button {
    padding: 5% 0;
    padding-left: 0;
    font-size: 2rem;
    margin: 0;
    color: white;
    background-color: #686868;
    border: none;
    border-radius: 0;
    width: 75%;
    height: 18%;
    text-align: start;
    vertical-align: bottom;
  }
  section.fourth-section .desktop-competence-container .button-container .active {
    transition: all 0.5s ease;
    font-weight: bold;
    border-bottom: 1px solid #F89D24;
  }
  section.fourth-section .desktop-competence-container .content {
    width: 60.67%;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section.fourth-section .desktop-competence-container .content .button-container {
    width: 80%;
    height: 10%;
    margin: 7% 0;
    padding-left: 20%;
    background-color: #262626;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  section.fourth-section .desktop-competence-container .content .button-container button {
    padding: 5% 0;
    font-style: italic;
    width: 90%;
    height: 5%;
    font-size: 0.875rem;
    background-color: #262626;
    border: none;
  }
  section.fourth-section .desktop-competence-container .content .button-container .orange {
    color: #F89D24;
  }
  section.fourth-section .desktop-competence-container .content p {
    margin: 0;
    padding: 2% 0;
    color: white;
    font-size: 1.125rem;
    width: 57.8%;
    height: 50.83%;
    text-align: start;
  }
}