@media (min-width: 1024px)
     

    // Quarta Seção
    section.fourth-section
        height: 79.57vh
        display: flex
        flex-flow: row wrap
        justify-content: center
        align-items: center
        background-size: contain
        background-repeat: no-repeat
        .mobile
            display: none
            
        .competence-container
            display: none
            flex-direction: row
            justify-content: center
            align-items: center
        
        .collapsible
            margin: 0
            background-color: #686868
            color: white
            cursor: pointer
            padding: 13px
            width: 86.87vw
            border: 1px solid #686868
            border-radius: 0.5px
            outline: none
            text-align: left
            font-size: 1.5rem
            font-weight: normal
        .collapsible::after 
            content: ''
            position: relative
            bottom: 2.5vh
            left: 70vw
            display: block
            width: 0.7825rem
            height: 0.7825rem
            border-right: 0.2rem solid white
            border-top: 0.2rem solid white
            transform: rotate(135deg)

            /*
                float: right
                margin-left: 5px 
                */

        .active::after 
            content: ''
            margin-top: 1vh
            transform: rotate(315deg) 
            font-weight: bold
        

        // Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) 
        .active, .collapsible:hover 
           background-color: #555
        

        // Style the collapsible content. Note: hidden by default 
        .content 
            width: 79.5vw
            font-size: 1.5rem
            text-align: justify
            background-color: #262626
            border: none
            padding: 0 13px
            max-height: 0
            overflow: hidden
            border: none
            transition: max-height 0.2s ease-out
            p
                text-align: justify
        .active + .content 
            border-top: 1px solid #FEC024
            border-bottom: 1px solid #FEC024