@media (min-width: 1024px) {
  footer {
    width: 100vw;
    height: 24.22vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  footer .paragraph-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  footer .paragraph-container strong {
    font-weight: normal;
  }
  footer .desktop {
    display: block;
  }
  footer p {
    margin: 8vh 2vw;
  }
}