@charset "UTF-8";
@media (min-width: 1024px) {
  section.second-section .text-box {
    width: 15vw;
    height: 26.82vh;
    background-color: inherit;
    border: 1px solid #FEC024;
    border-top: none;
    font-size: 4rem;
  }

  section.second-section {
    display: grid !important;
    grid-template-columns: 50vw 50vw;
    /* Parágrafo da segunda seção */
  }
  section.second-section .text-box {
    position: relative;
    top: 0vh;
    left: 10vw;
  }
  section.second-section h3.text-box-heading {
    position: relative;
    left: 16vw;
    width: 18.3vw;
    height: 21.61vh;
    font-size: 4rem;
    align-self: flex-start;
  }
  section.second-section .button-container {
    margin: 5vh 0;
    margin-left: 8vw;
  }
  section.second-section .mobile {
    display: none;
  }
  section.second-section .desktop {
    display: block;
  }
  section.second-section p {
    margin-left: 12vw;
    width: 24.67vw;
    height: 26.69vh;
    text-align: justify;
    font-size: 1.125rem;
  }
  section.second-section .card-container {
    display: flex;
    flex-flow: row wrap;
  }
  section.second-section .card-container .card {
    width: 18.52vw;
    height: 35.29vh;
    border: 1px solid #6E6E6E;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }
  section.second-section .card-container .card img {
    margin: 0;
    width: 7.24vw;
    height: 12.5vh;
  }
  section.second-section .card-container .card p {
    width: 15vw;
    height: 9.51vh;
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: justify;
  }
}