@media (min-width: 1024px) {
  section.seventh-section .text-box {
    width: 23%;
    height: 29.82%;
    padding: 11.5% 0;
    background-color: inherit;
    border: 1px solid #FEC024;
    border-top: none;
    font-size: 4rem;
  }

  section.seventh-section {
    width: 100vw;
    height: 70vw;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around;
    align-items: flex-start;
  }
  section.seventh-section .text-box {
    position: relative;
    top: -165px;
    left: 12%;
  }
  section.seventh-section h3.text-box-heading {
    position: relative;
    top: -120px;
    left: -2.8%;
    margin: 0vw;
    width: 53.65%;
    height: 21.61%;
    font-size: 4rem;
    align-self: flex-start;
  }
  section.seventh-section p {
    text-align: justify;
    position: relative;
    left: 4%;
    top: -15px;
    width: 40.62%;
    height: 28.69%;
  }
  section.seventh-section .button-container {
    position: relative;
    width: 60%;
    top: 0%;
  }
  section.seventh-section .button-container button {
    padding: 3% 2%;
  }
  section.seventh-section .desktop {
    display: block;
  }
  section.seventh-section .mobile {
    display: none;
  }
  section.seventh-section ul {
    font-size: 0.875rem;
    list-style-type: circle;
  }
  section.seventh-section ul li {
    font-weight: bold;
    width: 32.43vw;
    height: 9.375vh;
    margin: 15% 0;
  }
  section.seventh-section ul li h6 {
    margin-top: 2%;
    height: 1.95vh;
    text-transform: uppercase;
    color: #F89D24;
  }
  section.seventh-section ul li p {
    top: 0;
    margin-bottom: 10%;
    line-height: 1.25rem;
    width: 80.67%;
    height: 95.12%;
    text-align: justify;
  }
}