@charset "UTF-8";
@media (min-width: 1024px) {
  /* Declarando variáveis para o uso no sass */
  section.third-section {
    width: 100vw;
    height: 48.44vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url("./assets/Grupo 34.svg");
  }
  section.third-section .box-01 {
    background-image: none;
    width: 58.57vw;
    height: 18.22vh;
  }
  section.third-section .box-01 h1 {
    margin: 0 6vw;
    width: 53.57vw;
    height: 18.22vh;
    text-align: center;
  }
  section.third-section .box-02 {
    /* Causando overflow à direita */
    width: 39.38vw;
    height: 38.5vh;
  }
  section.third-section .box-02 h1 {
    width: 23.57vw;
  }
  section.third-section .box-02 button {
    width: 14.86vw;
  }
}